In [3]:
import numpy as np
import pandas as pd
from pandas_datareader import data
import yfinance as yf
import yahoofinancials as yahoo_get
from yahoofinancials import YahooFinancials
import yahoo_finance as y_f
import pandas_datareader.data as web
import datetime

In [90]:
# Definir la URL de la página de Wikipedia con la tabla de las compañías SP500
url = "https://en.wikipedia.org/wiki/List_of_S%26P_500_companies"

# Descargar la tabla de las compañías SP500 como un objeto DataFrame de pandas
table = pd.read_html(url, header=0)[0]

In [91]:
table

,Symbol,Security,GICS Sector,GICS Sub-Industry,Headquarters Location,Date added,CIK,Founded
0,MMM,3M,Industrials,Industrial Conglomerates,"Saint Paul, Minnesota",1957-03-04,66740,1902
1,AOS,A. O. Smith,Industrials,Building Products,"Milwaukee, Wisconsin",2017-07-26,91142,1916
2,ABT,Abbott,Health Care,Health Care Equipment,"North Chicago, Illinois",1957-03-04,1800,1888
3,ABBV,AbbVie,Health Care,Pharmaceuticals,"North Chicago, Illinois",2012-12-31,1551152,2013 (1888)
4,ACN,Accenture,Information Technology,IT Consulting & Other Services,"Dublin, Ireland",2011-07-06,1467373,1989
...,...,...,...,...,...,...,...,...
498,YUM,Yum! Brands,Consumer Discretionary,Restaurants,"Louisville, Kentucky",1997-10-06,1041061,1997
499,ZBRA,Zebra Technologies,Information Technology,Electronic Equipment & Instruments,"Lincolnshire, Illinois",2019-12-23,877212,1969
500,ZBH,Zimmer Biomet,Health Care,Health Care Equipment,"Warsaw, Indiana",2001-08-07,1136869,1927
501,ZION,Zions Bancorporation,Financials,Regional Banks,"Salt Lake City, Utah",2001-06-22,109380,1873
502,ZTS,Zoetis,Health Care,Pharmaceuticals,"Parsippany, New Jersey",2013-06-21,1555280,1952

In [92]:
table = table.sort_values(by=['Symbol'], ascending=True)

In [93]:
table=table.reset_index(drop=True)
table

,Symbol,Security,GICS Sector,GICS Sub-Industry,Headquarters Location,Date added,CIK,Founded
0,A,Agilent Technologies,Health Care,Health Care Equipment,"Santa Clara, California",2000-06-05,1090872,1999
1,AAL,American Airlines Group,Industrials,Airlines,"Fort Worth, Texas",2015-03-23,6201,1934
2,AAP,Advance Auto Parts,Consumer Discretionary,Automotive Retail,"Raleigh, North Carolina",2015-07-09,1158449,1932
3,AAPL,Apple Inc.,Information Technology,"Technology Hardware, Storage & Peripherals","Cupertino, California",1982-11-30,320193,1977
4,ABBV,AbbVie,Health Care,Pharmaceuticals,"North Chicago, Illinois",2012-12-31,1551152,2013 (1888)
...,...,...,...,...,...,...,...,...
498,YUM,Yum! Brands,Consumer Discretionary,Restaurants,"Louisville, Kentucky",1997-10-06,1041061,1997
499,ZBH,Zimmer Biomet,Health Care,Health Care Equipment,"Warsaw, Indiana",2001-08-07,1136869,1927
500,ZBRA,Zebra Technologies,Information Technology,Electronic Equipment & Instruments,"Lincolnshire, Illinois",2019-12-23,877212,1969
501,ZION,Zions Bancorporation,Financials,Regional Banks,"Salt Lake City, Utah",2001-06-22,109380,1873
502,ZTS,Zoetis,Health Care,Pharmaceuticals,"Parsippany, New Jersey",2013-06-21,1555280,1952

In [94]:

new = table['Symbol'].tolist()
new

['A',
 'AAL',
 'AAP',
 'AAPL',
 'ABBV',
 'ABC',
 'ABT',
 'ACGL',
 'ACN',
 'ADBE',
 'ADI',
 'ADM',
 'ADP',
 'ADSK',
 'AEE',
 'AEP',
 'AES',
 'AFL',
 'AIG',
 'AIZ',
 'AJG',
 'AKAM',
 'ALB',
 'ALGN',
 'ALK',
 'ALL',
 'ALLE',
 'AMAT',
 'AMCR',
 'AMD',
 'AME',
 'AMGN',
 'AMP',
 'AMT',
 'AMZN',
 'ANET',
 'ANSS',
 'AON',
 'AOS',
 'APA',
 'APD',
 'APH',
 'APTV',
 'ARE',
 'ATO',
 'ATVI',
 'AVB',
 'AVGO',
 'AVY',
 'AWK',
 'AXP',
 'AZO',
 'BA',
 'BAC',
 'BALL',
 'BAX',
 'BBWI',
 'BBY',
 'BDX',
 'BEN',
 'BF.B',
 'BIIB',
 'BIO',
 'BK',
 'BKNG',
 'BKR',
 'BLK',
 'BMY',
 'BR',
 'BRK.B',
 'BRO',
 'BSX',
 'BWA',
 'BXP',
 'C',
 'CAG',
 'CAH',
 'CARR',
 'CAT',
 'CB',
 'CBOE',
 'CBRE',
 'CCI',
 'CCL',
 'CDAY',
 'CDNS',
 'CDW',
 'CE',
 'CEG',
 'CF',
 'CFG',
 'CHD',
 'CHRW',
 'CHTR',
 'CI',
 'CINF',
 'CL',
 'CLX',
 'CMA',
 'CMCSA',
 'CME',
 'CMG',
 'CMI',
 'CMS',
 'CNC',
 'CNP',
 'COF',
 'COO',
 'COP',
 'COST',
 'CPB',
 'CPRT',
 'CPT',
 'CRL',
 'CRM',
 'CSCO',
 'CSGP',
 'CSX',
 'CTAS',
 'CTLT',
 'CTRA',
 'CTSH',
 'CTVA',
 'CVS',
 'CVX',
 'CZR',
 'D',
 'DAL',
 'DD',
 'DE',
 'DFS',
 'DG',
 'DGX',
 'DHI',
 'DHR',
 'DIS',
 'DISH',
 'DLR',
 'DLTR',
 'DOV',
 'DOW',
 'DPZ',
 'DRI',
 'DTE',
 'DUK',
 'DVA',
 'DVN',
 'DXC',
 'DXCM',
 'EA',
 'EBAY',
 'ECL',
 'ED',
 'EFX',
 'EIX',
 'EL',
 'ELV',
 'EMN',
 'EMR',
 'ENPH',
 'EOG',
 'EPAM',
 'EQIX',
 'EQR',
 'EQT',
 'ES',
 'ESS',
 'ETN',
 'ETR',
 'ETSY',
 'EVRG',
 'EW',
 'EXC',
 'EXPD',
 'EXPE',
 'EXR',
 'F',
 'FANG',
 'FAST',
 'FCX',
 'FDS',
 'FDX',
 'FE',
 'FFIV',
 'FIS',
 'FISV',
 'FITB',
 'FLT',
 'FMC',
 'FOX',
 'FOXA',
 'FRC',
 'FRT',
 'FSLR',
 'FTNT',
 'FTV',
 'GD',
 'GE',
 'GEHC',
 'GEN',
 'GILD',
 'GIS',
 'GL',
 'GLW',
 'GM',
 'GNRC',
 'GOOG',
 'GOOGL',
 'GPC',
 'GPN',
 'GRMN',
 'GS',
 'GWW',
 'HAL',
 'HAS',
 'HBAN',
 'HCA',
 'HD',
 'HES',
 'HIG',
 'HII',
 'HLT',
 'HOLX',
 'HON',
 'HPE',
 'HPQ',
 'HRL',
 'HSIC',
 'HST',
 'HSY',
 'HUM',
 'HWM',
 'IBM',
 'ICE',
 'IDXX',
 'IEX',
 'IFF',
 'ILMN',
 'INCY',
 'INTC',
 'INTU',
 'INVH',
 'IP',
 'IPG',
 'IQV',
 'IR',
 'IRM',
 'ISRG',
 'IT',
 'ITW',
 'IVZ',
 'J',
 'JBHT',
 'JCI',
 'JKHY',
 'JNJ',
 'JNPR',
 'JPM',
 'K',
 'KDP',
 'KEY',
 'KEYS',
 'KHC',
 'KIM',
 'KLAC',
 'KMB',
 'KMI',
 'KMX',
 'KO',
 'KR',
 'L',
 'LDOS',
 'LEN',
 'LH',
 'LHX',
 'LIN',
 'LKQ',
 'LLY',
 'LMT',
 'LNC',
 'LNT',
 'LOW',
 'LRCX',
 'LUMN',
 'LUV',
 'LVS',
 'LW',
 'LYB',
 'LYV',
 'MA',
 'MAA',
 'MAR',
 'MAS',
 'MCD',
 'MCHP',
 'MCK',
 'MCO',
 'MDLZ',
 'MDT',
 'MET',
 'META',
 'MGM',
 'MHK',
 'MKC',
 'MKTX',
 'MLM',
 'MMC',
 'MMM',
 'MNST',
 'MO',
 'MOH',
 'MOS',
 'MPC',
 'MPWR',
 'MRK',
 'MRNA',
 'MRO',
 'MS',
 'MSCI',
 'MSFT',
 'MSI',
 'MTB',
 'MTCH',
 'MTD',
 'MU',
 'NCLH',
 'NDAQ',
 'NDSN',
 'NEE',
 'NEM',
 'NFLX',
 'NI',
 'NKE',
 'NOC',
 'NOW',
 'NRG',
 'NSC',
 'NTAP',
 'NTRS',
 'NUE',
 'NVDA',
 'NVR',
 'NWL',
 'NWS',
 'NWSA',
 'NXPI',
 'O',
 'ODFL',
 'OGN',
 'OKE',
 'OMC',
 'ON',
 'ORCL',
 'ORLY',
 'OTIS',
 'OXY',
 'PARA',
 'PAYC',
 'PAYX',
 'PCAR',
 'PCG',
 'PEAK',
 'PEG',
 'PEP',
 'PFE',
 'PFG',
 'PG',
 'PGR',
 'PH',
 'PHM',
 'PKG',
 'PKI',
 'PLD',
 'PM',
 'PNC',
 'PNR',
 'PNW',
 'POOL',
 'PPG',
 'PPL',
 'PRU',
 'PSA',
 'PSX',
 'PTC',
 'PWR',
 'PXD',
 'PYPL',
 'QCOM',
 'QRVO',
 'RCL',
 'RE',
 'REG',
 'REGN',
 'RF',
 'RHI',
 'RJF',
 'RL',
 'RMD',
 'ROK',
 'ROL',
 'ROP',
 'ROST',
 'RSG',
 'RTX',
 'SBAC',
 'SBNY',
 'SBUX',
 'SCHW',
 'SEDG',
 'SEE',
 'SHW',
 'SIVB',
 'SJM',
 'SLB',
 'SNA',
 'SNPS',
 'SO',
 'SPG',
 'SPGI',
 'SRE',
 'STE',
 'STLD',
 'STT',
 'STX',
 'STZ',
 'SWK',
 'SWKS',
 'SYF',
 'SYK',
 'SYY',
 'T',
 'TAP',
 'TDG',
 'TDY',
 'TECH',
 'TEL',
 'TER',
 'TFC',
 'TFX',
 'TGT',
 'TJX',
 'TMO',
 'TMUS',
 'TPR',
 'TRGP',
 'TRMB',
 'TROW',
 'TRV',
 'TSCO',
 'TSLA',
 'TSN',
 'TT',
 'TTWO',
 'TXN',
 'TXT',
 'TYL',
 'UAL',
 'UDR',
 'UHS',
 'ULTA',
 'UNH',
 'UNP',
 'UPS',
 'URI',
 'USB',
 'V',
 'VFC',
 'VICI',
 'VLO',
 'VMC',
 'VRSK',
 'VRSN',
 'VRTX',
 'VTR',
 'VTRS',
 'VZ',
 'WAB',
 'WAT',
 'WBA',
 'WBD',
 'WDC',
 'WEC',
 'WELL',
 'WFC',
 'WHR',
 'WM',
 'WMB',
 'WMT',
 'WRB',
 'WRK',
 'WST',
 'WTW',
 'WY',
 'WYNN',
 'XEL',
 'XOM',
 'XRAY',
 'XYL',
 'YUM',
 'ZBH',
 'ZBRA',
 'ZION',
 'ZTS']

In [95]:
for i in range(len(new)):
    if new[i] == 'BRK.B':
        new[i] = 'BRK-B'
    elif new[i] == 'BF.B':
        new[i] = 'BF-B'

In [96]:
table['new'] = new
table

,Symbol,Security,GICS Sector,GICS Sub-Industry,Headquarters Location,Date added,CIK,Founded,new
0,A,Agilent Technologies,Health Care,Health Care Equipment,"Santa Clara, California",2000-06-05,1090872,1999,A
1,AAL,American Airlines Group,Industrials,Airlines,"Fort Worth, Texas",2015-03-23,6201,1934,AAL
2,AAP,Advance Auto Parts,Consumer Discretionary,Automotive Retail,"Raleigh, North Carolina",2015-07-09,1158449,1932,AAP
3,AAPL,Apple Inc.,Information Technology,"Technology Hardware, Storage & Peripherals","Cupertino, California",1982-11-30,320193,1977,AAPL
4,ABBV,AbbVie,Health Care,Pharmaceuticals,"North Chicago, Illinois",2012-12-31,1551152,2013 (1888),ABBV
...,...,...,...,...,...,...,...,...,...
498,YUM,Yum! Brands,Consumer Discretionary,Restaurants,"Louisville, Kentucky",1997-10-06,1041061,1997,YUM
499,ZBH,Zimmer Biomet,Health Care,Health Care Equipment,"Warsaw, Indiana",2001-08-07,1136869,1927,ZBH
500,ZBRA,Zebra Technologies,Information Technology,Electronic Equipment & Instruments,"Lincolnshire, Illinois",2019-12-23,877212,1969,ZBRA
501,ZION,Zions Bancorporation,Financials,Regional Banks,"Salt Lake City, Utah",2001-06-22,109380,1873,ZION
502,ZTS,Zoetis,Health Care,Pharmaceuticals,"Parsippany, New Jersey",2013-06-21,1555280,1952,ZTS

In [97]:
last_col = table.pop('new')
table.insert(0, 'new', last_col)
table

,new,Symbol,Security,GICS Sector,GICS Sub-Industry,Headquarters Location,Date added,CIK,Founded
0,A,A,Agilent Technologies,Health Care,Health Care Equipment,"Santa Clara, California",2000-06-05,1090872,1999
1,AAL,AAL,American Airlines Group,Industrials,Airlines,"Fort Worth, Texas",2015-03-23,6201,1934
2,AAP,AAP,Advance Auto Parts,Consumer Discretionary,Automotive Retail,"Raleigh, North Carolina",2015-07-09,1158449,1932
3,AAPL,AAPL,Apple Inc.,Information Technology,"Technology Hardware, Storage & Peripherals","Cupertino, California",1982-11-30,320193,1977
4,ABBV,ABBV,AbbVie,Health Care,Pharmaceuticals,"North Chicago, Illinois",2012-12-31,1551152,2013 (1888)
...,...,...,...,...,...,...,...,...,...
498,YUM,YUM,Yum! Brands,Consumer Discretionary,Restaurants,"Louisville, Kentucky",1997-10-06,1041061,1997
499,ZBH,ZBH,Zimmer Biomet,Health Care,Health Care Equipment,"Warsaw, Indiana",2001-08-07,1136869,1927
500,ZBRA,ZBRA,Zebra Technologies,Information Technology,Electronic Equipment & Instruments,"Lincolnshire, Illinois",2019-12-23,877212,1969
501,ZION,ZION,Zions Bancorporation,Financials,Regional Banks,"Salt Lake City, Utah",2001-06-22,109380,1873
502,ZTS,ZTS,Zoetis,Health Care,Pharmaceuticals,"Parsippany, New Jersey",2013-06-21,1555280,1952

In [98]:
table=table.drop(['Symbol'], axis=1)

In [99]:
table = table.rename(columns={'new': 'Symbol'})
table

,Symbol,Security,GICS Sector,GICS Sub-Industry,Headquarters Location,Date added,CIK,Founded
0,A,Agilent Technologies,Health Care,Health Care Equipment,"Santa Clara, California",2000-06-05,1090872,1999
1,AAL,American Airlines Group,Industrials,Airlines,"Fort Worth, Texas",2015-03-23,6201,1934
2,AAP,Advance Auto Parts,Consumer Discretionary,Automotive Retail,"Raleigh, North Carolina",2015-07-09,1158449,1932
3,AAPL,Apple Inc.,Information Technology,"Technology Hardware, Storage & Peripherals","Cupertino, California",1982-11-30,320193,1977
4,ABBV,AbbVie,Health Care,Pharmaceuticals,"North Chicago, Illinois",2012-12-31,1551152,2013 (1888)
...,...,...,...,...,...,...,...,...
498,YUM,Yum! Brands,Consumer Discretionary,Restaurants,"Louisville, Kentucky",1997-10-06,1041061,1997
499,ZBH,Zimmer Biomet,Health Care,Health Care Equipment,"Warsaw, Indiana",2001-08-07,1136869,1927
500,ZBRA,Zebra Technologies,Information Technology,Electronic Equipment & Instruments,"Lincolnshire, Illinois",2019-12-23,877212,1969
501,ZION,Zions Bancorporation,Financials,Regional Banks,"Salt Lake City, Utah",2001-06-22,109380,1873
502,ZTS,Zoetis,Health Care,Pharmaceuticals,"Parsippany, New Jersey",2013-06-21,1555280,1952

In [108]:
Filter_by_sec=table.drop(['Headquarters Location','Date added','CIK','Founded'],axis=1)
Filter_by_sec

,Symbol,Security,GICS Sector,GICS Sub-Industry
0,A,Agilent Technologies,Health Care,Health Care Equipment
1,AAL,American Airlines Group,Industrials,Airlines
2,AAP,Advance Auto Parts,Consumer Discretionary,Automotive Retail
3,AAPL,Apple Inc.,Information Technology,"Technology Hardware, Storage & Peripherals"
4,ABBV,AbbVie,Health Care,Pharmaceuticals
...,...,...,...,...
498,YUM,Yum! Brands,Consumer Discretionary,Restaurants
499,ZBH,Zimmer Biomet,Health Care,Health Care Equipment
500,ZBRA,Zebra Technologies,Information Technology,Electronic Equipment & Instruments
501,ZION,Zions Bancorporation,Financials,Regional Banks
502,ZTS,Zoetis,Health Care,Pharmaceuticals

In [170]:
filter_gic=Filter_by_sec.drop(['Security','GICS Sub-Industry'],axis=1)
filter_gic

    Symbol             GICS Sector
0        A             Health Care
1      AAL             Industrials
2      AAP  Consumer Discretionary
3     AAPL  Information Technology
4     ABBV             Health Care
..     ...                     ...
498    YUM  Consumer Discretionary
499    ZBH             Health Care
500   ZBRA  Information Technology
501   ZION              Financials
502    ZTS             Health Care

[503 rows x 2 columns]

In [109]:
Filter_by_sec.to_csv('areas_sec.csv', sep=',')

In [100]:
# Crear un diccionario que mapee los sectores a las compañías correspondientes
sector_dict = {}
for sector in table["GICS Sector"].unique():
    sector_dict[sector] = list(table[table["GICS Sector"]==sector]["Symbol"])

In [101]:
sector_dict

{'Health Care': ['A',
  'ABBV',
  'ABC',
  'ABT',
  'ALGN',
  'AMGN',
  'BAX',
  'BDX',
  'BIIB',
  'BIO',
  'BMY',
  'BSX',
  'CAH',
  'CI',
  'CNC',
  'COO',
  'CRL',
  'CTLT',
  'CVS',
  'DGX',
  'DHR',
  'DVA',
  'DXCM',
  'ELV',
  'EW',
  'GEHC',
  'GILD',
  'HCA',
  'HOLX',
  'HSIC',
  'HUM',
  'IDXX',
  'ILMN',
  'INCY',
  'IQV',
  'ISRG',
  'JNJ',
  'LH',
  'LLY',
  'MCK',
  'MDT',
  'MOH',
  'MRK',
  'MRNA',
  'MTD',
  'OGN',
  'PFE',
  'PKI',
  'REGN',
  'RMD',
  'STE',
  'SYK',
  'TECH',
  'TFX',
  'TMO',
  'UHS',
  'UNH',
  'VRTX',
  'VTRS',
  'WAT',
  'WST',
  'XRAY',
  'ZBH',
  'ZTS'],
 'Industrials': ['AAL',
  'ALK',
  'ALLE',
  'AME',
  'AOS',
  'BA',
  'CARR',
  'CAT',
  'CHRW',
  'CMI',
  'CPRT',
  'CSGP',
  'CSX',
  'CTAS',
  'DAL',
  'DE',
  'DOV',
  'EFX',
  'EMR',
  'ETN',
  'EXPD',
  'FAST',
  'FDX',
  'FTV',
  'GD',
  'GE',
  'GNRC',
  'GWW',
  'HII',
  'HON',
  'HWM',
  'IEX',
  'IR',
  'ITW',
  'J',
  'JBHT',
  'JCI',
  'LDOS',
  'LHX',
  'LMT',
  'LUV',
  'MAS',
  'MMM',
  'NDSN',
  'NOC',
  'NSC',
  'ODFL',
  'OTIS',
  'PCAR',
  'PH',
  'PNR',
  'PWR',
  'RHI',
  'ROK',
  'ROL',
  'RSG',
  'RTX',
  'SNA',
  'SWK',
  'TDG',
  'TT',
  'TXT',
  'UAL',
  'UNP',
  'UPS',
  'URI',
  'VRSK',
  'WAB',
  'WM',
  'XYL'],
 'Consumer Discretionary': ['AAP',
  'AMZN',
  'APTV',
  'AZO',
  'BBWI',
  'BBY',
  'BKNG',
  'BWA',
  'CCL',
  'CMG',
  'CZR',
  'DG',
  'DHI',
  'DLTR',
  'DPZ',
  'DRI',
  'EBAY',
  'ETSY',
  'EXPE',
  'F',
  'GM',
  'GPC',
  'GRMN',
  'HAS',
  'HD',
  'HLT',
  'KMX',
  'LEN',
  'LKQ',
  'LOW',
  'LVS',
  'MAR',
  'MCD',
  'MGM',
  'MHK',
  'NCLH',
  'NKE',
  'NVR',
  'NWL',
  'ORLY',
  'PHM',
  'POOL',
  'RCL',
  'RL',
  'ROST',
  'SBUX',
  'TGT',
  'TJX',
  'TPR',
  'TSCO',
  'TSLA',
  'ULTA',
  'VFC',
  'WHR',
  'WYNN',
  'YUM'],
 'Information Technology': ['AAPL',
  'ACN',
  'ADBE',
  'ADI',
  'ADP',
  'ADSK',
  'AKAM',
  'AMAT',
  'AMD',
  'ANET',
  'ANSS',
  'APH',
  'AVGO',
  'BR',
  'CDAY',
  'CDNS',
  'CDW',
  'CRM',
  'CSCO',
  'CTSH',
  'DXC',
  'ENPH',
  'EPAM',
  'FFIV',
  'FIS',
  'FISV',
  'FLT',
  'FSLR',
  'FTNT',
  'GEN',
  'GLW',
  'GPN',
  'HPE',
  'HPQ',
  'IBM',
  'INTC',
  'INTU',
  'IT',
  'JKHY',
  'JNPR',
  'KEYS',
  'KLAC',
  'LRCX',
  'MA',
  'MCHP',
  'MPWR',
  'MSFT',
  'MSI',
  'MU',
  'NOW',
  'NTAP',
  'NVDA',
  'NXPI',
  'ON',
  'ORCL',
  'PAYC',
  'PAYX',
  'PTC',
  'PYPL',
  'QCOM',
  'QRVO',
  'ROP',
  'SEDG',
  'SNPS',
  'STX',
  'SWKS',
  'TDY',
  'TEL',
  'TER',
  'TRMB',
  'TXN',
  'TYL',
  'V',
  'VRSN',
  'WDC',
  'ZBRA'],
 'Financials': ['ACGL',
  'AFL',
  'AIG',
  'AIZ',
  'AJG',
  'ALL',
  'AMP',
  'AON',
  'AXP',
  'BAC',
  'BEN',
  'BK',
  'BLK',
  'BRK-B',
  'BRO',
  'C',
  'CB',
  'CBOE',
  'CFG',
  'CINF',
  'CMA',
  'CME',
  'COF',
  'DFS',
  'FDS',
  'FITB',
  'FRC',
  'GL',
  'GS',
  'HBAN',
  'HIG',
  'ICE',
  'IVZ',
  'JPM',
  'KEY',
  'L',
  'LNC',
  'MCO',
  'MET',
  'MKTX',
  'MMC',
  'MS',
  'MSCI',
  'MTB',
  'NDAQ',
  'NTRS',
  'PFG',
  'PGR',
  'PNC',
  'PRU',
  'RE',
  'RF',
  'RJF',
  'SBNY',
  'SCHW',
  'SIVB',
  'SPGI',
  'STT',
  'SYF',
  'TFC',
  'TROW',
  'TRV',
  'USB',
  'WFC',
  'WRB',
  'WTW',
  'ZION'],
 'Consumer Staples': ['ADM',
  'BF-B',
  'CAG',
  'CHD',
  'CL',
  'CLX',
  'COST',
  'CPB',
  'EL',
  'GIS',
  'HRL',
  'HSY',
  'K',
  'KDP',
  'KHC',
  'KMB',
  'KO',
  'KR',
  'LW',
  'MDLZ',
  'MKC',
  'MNST',
  'MO',
  'PEP',
  'PG',
  'PM',
  'SJM',
  'STZ',
  'SYY',
  'TAP',
  'TSN',
  'WBA',
  'WMT'],
 'Utilities': ['AEE',
  'AEP',
  'AES',
  'ATO',
  'AWK',
  'CEG',
  'CMS',
  'CNP',
  'D',
  'DTE',
  'DUK',
  'ED',
  'EIX',
  'ES',
  'ETR',
  'EVRG',
  'EXC',
  'FE',
  'LNT',
  'NEE',
  'NI',
  'NRG',
  'PCG',
  'PEG',
  'PNW',
  'PPL',
  'SO',
  'SRE',
  'WEC',
  'XEL'],
 'Materials': ['ALB',
  'AMCR',
  'APD',
  'AVY',
  'BALL',
  'CE',
  'CF',
  'CTVA',
  'DD',
  'DOW',
  'ECL',
  'EMN',
  'FCX',
  'FMC',
  'IFF',
  'IP',
  'LIN',
  'LYB',
  'MLM',
  'MOS',
  'NEM',
  'NUE',
  'PKG',
  'PPG',
  'SEE',
  'SHW',
  'STLD',
  'VMC',
  'WRK'],
 'Real Estate': ['AMT',
  'ARE',
  'AVB',
  'BXP',
  'CBRE',
  'CCI',
  'CPT',
  'DLR',
  'EQIX',
  'EQR',
  'ESS',
  'EXR',
  'FRT',
  'HST',
  'INVH',
  'IRM',
  'KIM',
  'MAA',
  'O',
  'PEAK',
  'PLD',
  'PSA',
  'REG',
  'SBAC',
  'SPG',
  'UDR',
  'VICI',
  'VTR',
  'WELL',
  'WY'],
 'Energy': ['APA',
  'BKR',
  'COP',
  'CTRA',
  'CVX',
  'DVN',
  'EOG',
  'EQT',
  'FANG',
  'HAL',
  'HES',
  'KMI',
  'MPC',
  'MRO',
  'OKE',
  'OXY',
  'PSX',
  'PXD',
  'SLB',
  'TRGP',
  'VLO',
  'WMB',
  'XOM'],
 'Communication Services': ['ATVI',
  'CHTR',
  'CMCSA',
  'DIS',
  'DISH',
  'EA',
  'FOX',
  'FOXA',
  'GOOG',
  'GOOGL',
  'IPG',
  'LUMN',
  'LYV',
  'META',
  'MTCH',
  'NFLX',
  'NWS',
  'NWSA',
  'OMC',
  'PARA',
  'T',
  'TMUS',
  'TTWO',
  'VZ',
  'WBD']}

In [102]:
df_sector = pd.DataFrame.from_dict(sector_dict, orient='index')

In [103]:
df_sector

,0,1,2,3,4,5,6,7,8,9,...,66,67,68,69,70,71,72,73,74,75
Health Care,A,ABBV,ABC,ABT,ALGN,AMGN,BAX,BDX,BIIB,BIO,...,None,None,None,None,None,None,None,None,None,None
Industrials,AAL,ALK,ALLE,AME,AOS,BA,CARR,CAT,CHRW,CMI,...,VRSK,WAB,WM,XYL,None,None,None,None,None,None
Consumer Discretionary,AAP,AMZN,APTV,AZO,BBWI,BBY,BKNG,BWA,CCL,CMG,...,None,None,None,None,None,None,None,None,None,None
Information Technology,AAPL,ACN,ADBE,ADI,ADP,ADSK,AKAM,AMAT,AMD,ANET,...,TDY,TEL,TER,TRMB,TXN,TYL,V,VRSN,WDC,ZBRA
Financials,ACGL,AFL,AIG,AIZ,AJG,ALL,AMP,AON,AXP,BAC,...,ZION,None,None,None,None,None,None,None,None,None
Consumer Staples,ADM,BF-B,CAG,CHD,CL,CLX,COST,CPB,EL,GIS,...,None,None,None,None,None,None,None,None,None,None
Utilities,AEE,AEP,AES,ATO,AWK,CEG,CMS,CNP,D,DTE,...,None,None,None,None,None,None,None,None,None,None
Materials,ALB,AMCR,APD,AVY,BALL,CE,CF,CTVA,DD,DOW,...,None,None,None,None,None,None,None,None,None,None
Real Estate,AMT,ARE,AVB,BXP,CBRE,CCI,CPT,DLR,EQIX,EQR,...,None,None,None,None,None,None,None,None,None,None
Energy,APA,BKR,COP,CTRA,CVX,DVN,EOG,EQT,FANG,HAL,...,None,None,None,None,None,None,None,None,None,None
Communication Services,ATVI,CHTR,CMCSA,DIS,DISH,EA,FOX,FOXA,GOOG,GOOGL,...,None,None,None,None,None,None,None,None,None,None

In [104]:
df_sector=df_sector.transpose()
df_sector

,Health Care,Industrials,Consumer Discretionary,Information Technology,Financials,Consumer Staples,Utilities,Materials,Real Estate,Energy,Communication Services
0,A,AAL,AAP,AAPL,ACGL,ADM,AEE,ALB,AMT,APA,ATVI
1,ABBV,ALK,AMZN,ACN,AFL,BF-B,AEP,AMCR,ARE,BKR,CHTR
2,ABC,ALLE,APTV,ADBE,AIG,CAG,AES,APD,AVB,COP,CMCSA
3,ABT,AME,AZO,ADI,AIZ,CHD,ATO,AVY,BXP,CTRA,DIS
4,ALGN,AOS,BBWI,ADP,AJG,CL,AWK,BALL,CBRE,CVX,DISH
...,...,...,...,...,...,...,...,...,...,...,...
71,None,None,None,TYL,None,None,None,None,None,None,None
72,None,None,None,V,None,None,None,None,None,None,None
73,None,None,None,VRSN,None,None,None,None,None,None,None
74,None,None,None,WDC,None,None,None,None,None,None,None
75,None,None,None,ZBRA,None,None,None,None,None,None,None

In [105]:
df_sector.to_csv('sector_tick.csv', sep=',')

In [200]:
sp500url = 'https://en.wikipedia.org/wiki/List_of_S%26P_500_companies'

data_table=pd.read_html(sp500url)

In [201]:
data_table

[    Symbol              Security             GICS Sector  \
 0      MMM                    3M             Industrials
 1      AOS           A. O. Smith             Industrials
 2      ABT                Abbott             Health Care
 3     ABBV                AbbVie             Health Care
 4      ACN             Accenture  Information Technology
 ..     ...                   ...                     ...
 498    YUM           Yum! Brands  Consumer Discretionary
 499   ZBRA    Zebra Technologies  Information Technology
 500    ZBH         Zimmer Biomet             Health Care
 501   ZION  Zions Bancorporation              Financials
 502    ZTS                Zoetis             Health Care

                       GICS Sub-Industry    Headquarters Location  Date added  \
 0              Industrial Conglomerates    Saint Paul, Minnesota  1957-03-04
 1                     Building Products     Milwaukee, Wisconsin  2017-07-26
 2                 Health Care Equipment  North Chicago, Illinois  1957-03-04
 3                       Pharmaceuticals  North Chicago, Illinois  2012-12-31
 4        IT Consulting & Other Services          Dublin, Ireland  2011-07-06
 ..                                  ...                      ...         ...
 498                         Restaurants     Louisville, Kentucky  1997-10-06
 499  Electronic Equipment & Instruments   Lincolnshire, Illinois  2019-12-23
 500               Health Care Equipment          Warsaw, Indiana  2001-08-07
 501                      Regional Banks     Salt Lake City, Utah  2001-06-22
 502                     Pharmaceuticals   Parsippany, New Jersey  2013-06-21

          CIK      Founded
 0      66740         1902
 1      91142         1916
 2       1800         1888
 3    1551152  2013 (1888)
 4    1467373         1989
 ..       ...          ...
 498  1041061         1997
 499   877212         1969
 500  1136869         1927
 501   109380         1873
 502  1555280         1952

 [503 rows x 8 columns],
                   Date  Added                                Removed  \
                   Date Ticker                       Security  Ticker
 0      January 5, 2023    NaN                            NaN     VNO
 1      January 4, 2023   GEHC                  GE HealthCare     NaN
 2    December 22, 2022   STLD                 Steel Dynamics    ABMD
 3    December 19, 2022   FSLR                    First Solar    FBHS
 4    December 19, 2022    NaN                            NaN     MBC
 ..                 ...    ...                            ...     ...
 315       June 9, 1999    WLP                      Wellpoint     HPH
 316  December 11, 1998    FSR                        Firstar     LDW
 317  December 11, 1998    CCL                 Carnival Corp.     GRN
 318  December 11, 1998   CPWR                      Compuware     SUN
 319      June 17, 1997    CCI  Countrywide Credit Industries     USL

                                      \
                            Security
 0              Vornado Realty Trust
 1                               NaN
 2                           Abiomed
 3    Fortune Brands Home & Security
 4                       MasterBrand
 ..                              ...
 315        Harnischfeger Industries
 316                           Amoco
 317                      General Re
 318                      SunAmerica
 319                          USLife

                                                 Reason
                                                 Reason
 0                     Market capitalization change.[4]
 1    S&P 500 constituent General Electric spun off ...
 2    S&P 500 constituent Johnson & Johnson acquired...
 3                     Market capitalization change.[7]
 4                     Market capitalization change.[7]
 ..                                                 ...
 315           Harnischfeger filed for bankruptcy.[241]
 316            British Petroleum purchased Amoco.[242]
 317      Berkshire Hathaway purchased General Re.[242]
 318                     AIG purchased SunAmerica.[242]
 319                          AIG acquired USLife.[243]

 [320 rows x 6 columns]]

In [202]:
gics=data_table[0]['GICS Sector'].tolist()
gics

['Industrials',
 'Industrials',
 'Health Care',
 'Health Care',
 'Information Technology',
 'Communication Services',
 'Consumer Staples',
 'Information Technology',
 'Information Technology',
 'Consumer Discretionary',
 'Utilities',
 'Financials',
 'Health Care',
 'Materials',
 'Information Technology',
 'Industrials',
 'Materials',
 'Real Estate',
 'Health Care',
 'Industrials',
 'Utilities',
 'Financials',
 'Communication Services',
 'Communication Services',
 'Consumer Staples',
 'Consumer Discretionary',
 'Materials',
 'Information Technology',
 'Utilities',
 'Industrials',
 'Utilities',
 'Financials',
 'Financials',
 'Real Estate',
 'Utilities',
 'Financials',
 'Health Care',
 'Industrials',
 'Health Care',
 'Information Technology',
 'Information Technology',
 'Information Technology',
 'Financials',
 'Energy',
 'Information Technology',
 'Information Technology',
 'Consumer Discretionary',
 'Financials',
 'Information Technology',
 'Financials',
 'Financials',
 'Communication Services',
 'Utilities',
 'Information Technology',
 'Consumer Discretionary',
 'Real Estate',
 'Materials',
 'Energy',
 'Materials',
 'Financials',
 'Consumer Discretionary',
 'Health Care',
 'Health Care',
 'Financials',
 'Financials',
 'Consumer Discretionary',
 'Health Care',
 'Health Care',
 'Health Care',
 'Financials',
 'Financials',
 'Industrials',
 'Consumer Discretionary',
 'Consumer Discretionary',
 'Real Estate',
 'Health Care',
 'Health Care',
 'Information Technology',
 'Information Technology',
 'Financials',
 'Consumer Staples',
 'Industrials',
 'Information Technology',
 'Consumer Discretionary',
 'Real Estate',
 'Consumer Staples',
 'Financials',
 'Health Care',
 'Consumer Discretionary',
 'Consumer Discretionary',
 'Industrials',
 'Health Care',
 'Industrials',
 'Financials',
 'Real Estate',
 'Information Technology',
 'Materials',
 'Health Care',
 'Utilities',
 'Information Technology',
 'Materials',
 'Health Care',
 'Financials',
 'Communication Services',
 'Energy',
 'Consumer Discretionary',
 'Financials',
 'Consumer Staples',
 'Health Care',
 'Financials',
 'Industrials',
 'Information Technology',
 'Financials',
 'Financials',
 'Consumer Staples',
 'Financials',
 'Utilities',
 'Consumer Staples',
 'Information Technology',
 'Consumer Staples',
 'Communication Services',
 'Financials',
 'Consumer Staples',
 'Energy',
 'Utilities',
 'Consumer Staples',
 'Utilities',
 'Health Care',
 'Industrials',
 'Information Technology',
 'Materials',
 'Industrials',
 'Consumer Staples',
 'Energy',
 'Real Estate',
 'Industrials',
 'Industrials',
 'Health Care',
 'Consumer Discretionary',
 'Health Care',
 'Consumer Discretionary',
 'Health Care',
 'Industrials',
 'Industrials',
 'Health Care',
 'Energy',
 'Health Care',
 'Energy',
 'Real Estate',
 'Financials',
 'Communication Services',
 'Communication Services',
 'Consumer Discretionary',
 'Consumer Discretionary',
 'Utilities',
 'Consumer Discretionary',
 'Industrials',
 'Materials',
 'Utilities',
 'Utilities',
 'Materials',
 'Information Technology',
 'Materials',
 'Industrials',
 'Consumer Discretionary',
 'Materials',
 'Utilities',
 'Health Care',
 'Communication Services',
 'Health Care',
 'Health Care',
 'Industrials',
 'Information Technology',
 'Utilities',
 'Energy',
 'Information Technology',
 'Energy',
 'Industrials',
 'Real Estate',
 'Real Estate',
 'Real Estate',
 'Consumer Staples',
 'Consumer Discretionary',
 'Financials',
 'Utilities',
 'Utilities',
 'Utilities',
 'Consumer Discretionary',
 'Industrials',
 'Real Estate',
 'Energy',
 'Information Technology',
 'Financials',
 'Industrials',
 'Real Estate',
 'Industrials',
 'Financials',
 'Financials',
 'Information Technology',
 'Utilities',
 'Information Technology',
 'Information Technology',
 'Information Technology',
 'Materials',
 'Consumer Discretionary',
 'Information Technology',
 'Industrials',
 'Communication Services',
 'Communication Services',
 'Financials',
 'Materials',
 'Consumer Discretionary',
 'Information Technology',
 'Health Care',
 'Information Technology',
 'Industrials',
 'Industrials',
 'Industrials',
 'Consumer Staples',
 'Consumer Discretionary',
 'Consumer Discretionary',
 'Health Care',
 'Financials',
 'Information Technology',
 'Financials',
 'Energy',
 'Financials',
 'Consumer Discretionary',
 'Health Care',
 'Real Estate',
 'Health Care',
 'Consumer Staples',
 'Energy',
 'Information Technology',
 'Consumer Discretionary',
 'Health Care',
 'Consumer Discretionary',
 'Industrials',
 'Consumer Staples',
 'Real Estate',
 'Industrials',
 'Information Technology',
 'Health Care',
 'Financials',
 'Industrials',
 'Information Technology',
 'Industrials',
 'Health Care',
 'Industrials',
 'Health Care',
 'Health Care',
 'Industrials',
 'Information Technology',
 'Financials',
 'Materials',
 'Materials',
 'Communication Services',
 'Information Technology',
 'Health Care',
 'Financials',
 'Real Estate',
 'Health Care',
 'Real Estate',
 'Industrials',
 'Information Technology',
 'Industrials',
 'Health Care',
 'Industrials',
 'Financials',
 'Information Technology',
 'Consumer Staples',
 'Consumer Staples',
 'Financials',
 'Information Technology',
 'Consumer Staples',
 'Real Estate',
 'Energy',
 'Information Technology',
 'Consumer Staples',
 'Consumer Staples',
 'Industrials',
 'Health Care',
 'Information Technology',
 'Consumer Staples',
 'Consumer Discretionary',
 'Industrials',
 'Consumer Discretionary',
 'Financials',
 'Materials',
 'Communication Services',
 'Consumer Discretionary',
 'Industrials',
 'Financials',
 'Consumer Discretionary',
 'Communication Services',
 'Materials',
 'Financials',
 'Energy',
 'Energy',
 'Financials',
 'Consumer Discretionary',
 'Financials',
 'Materials',
 'Industrials',
 'Information Technology',
 'Communication Services',
 'Consumer Staples',
 'Consumer Discretionary',
 'Health Care',
 'Health Care',
 'Health Care',
 'Communication Services',
 'Financials',
 'Health Care',
 'Consumer Discretionary',
 'Information Technology',
 'Information Technology',
 'Information Technology',
 'Real Estate',
 'Health Care',
 'Consumer Discretionary',
 'Health Care',
 'Consumer Staples',
 'Consumer Staples',
 'Information Technology',
 'Consumer Staples',
 'Financials',
 'Financials',
 'Materials',
 'Information Technology',
 'Financials',
 'Financials',
 'Information Technology',
 'Communication Services',
 'Consumer Discretionary',
 'Materials',
 'Communication Services',
 'Communication Services',
 'Utilities',
 'Consumer Discretionary',
 'Utilities',
 'Industrials',
 'Industrials',
 'Financials',
 'Industrials',
 'Consumer Discretionary',
 'Utilities',
 'Materials',
 'Information Technology',
 'Consumer Discretionary',
 'Information Technology',
 'Consumer Discretionary',
 'Energy',
 'Industrials',
 'Communication Services',
 'Information Technology',
 'Energy',
 'Information Technology',
 'Health Care',
 'Industrials',
 'Industrials',
 'Materials',
 'Communication Services',
 'Industrials',
 'Information Technology',
 'Information Technology',
 'Information Technology',
 'Industrials',
 'Consumer Staples',
 'Health Care',
 'Health Care',
 'Utilities',
 'Consumer Staples',
 'Energy',
 'Utilities',
 'Energy',
 'Financials',
 'Consumer Discretionary',
 'Materials',
 'Utilities',
 'Financials',
 'Consumer Staples',
 'Financials',
 'Real Estate',
 'Financials',
 'Utilities',
 'Information Technology',
 'Real Estate',
 'Consumer Discretionary',
 'Information Technology',
 'Industrials',
 'Information Technology',
 'Health Care',
 'Consumer Discretionary',
 'Financials',
 'Industrials',
 'Real Estate',
 'Real Estate',
 'Health Care',
 'Financials',
 'Industrials',
 'Health Care',
 'Industrials',
 'Industrials',
 'Industrials',
 'Information Technology',
 'Consumer Discretionary',
 'Consumer Discretionary',
 'Financials',
 'Information Technology',
 'Real Estate',
 'Energy',
 'Information Technology',
 'Materials',
 'Utilities',
 'Information Technology',
 'Materials',
 'Financials',
 'Real Estate',
 'Information Technology',
 'Consumer Staples',
 'Industrials',
 'Information Technology',
 'Utilities',
 'Industrials',
 'Industrials',
 'Consumer Discretionary',
 'Financials',
 'Materials',
 'Health Care',
 'Health Care',
 'Financials',
 'Financials',
 'Information Technology',
 'Consumer Staples',
 'Communication Services',
 'Financials',
 'Communication Services',
 'Consumer Discretionary',
 'Energy',
 'Consumer Discretionary',
 'Information Technology',
 'Information Technology',
 'Health Care',
 'Information Technology',
 'Consumer Discretionary',
 'Information Technology',
 'Industrials',
 'Health Care',
 'Consumer Discretionary',
 'Consumer Discretionary',
 'Industrials',
 'Industrials',
 'Financials',
 'Information Technology',
 'Financials',
 'Information Technology',
 'Consumer Staples',
 'Financials',
 'Real Estate',
 'Consumer Discretionary',
 'Industrials',
 'Industrials',
 'Industrials',
 'Industrials',
 'Health Care',
 'Health Care',
 'Energy',
 'Real Estate',
 'Information Technology',
 'Industrials',
 'Communication Services',
 'Health Care',
 'Consumer Discretionary',
 'Health Care',
 'Real Estate',
 'Information Technology',
 'Materials',
 'Industrials',
 'Consumer Staples',
 'Consumer Staples',
 'Communication Services',
 'Industrials',
 'Health Care',
 'Utilities',
 'Financials',
 'Real Estate',
 'Health Care',
 'Information Technology',
 'Materials',
 'Real Estate',
 'Consumer Discretionary',
 'Energy',
 'Financials',
 'Industrials',
 'Consumer Discretionary',
 'Utilities',
 'Industrials',
 'Consumer Discretionary',
 'Information Technology',
 'Health Care',
 'Financials',
 'Health Care']

In [206]:
gics_prices = yf.download(gics)

[*********************100%***********************]  11 of 11 completed

11 Failed downloads:
- HEALTH CARE: No timezone found, symbol may be delisted
- MATERIALS: No timezone found, symbol may be delisted
- FINANCIALS: No timezone found, symbol may be delisted
- CONSUMER STAPLES: No timezone found, symbol may be delisted
- ENERGY: No timezone found, symbol may be delisted
- CONSUMER DISCRETIONARY: No timezone found, symbol may be delisted
- REAL ESTATE: No timezone found, symbol may be delisted
- INFORMATION TECHNOLOGY: No timezone found, symbol may be delisted
- COMMUNICATION SERVICES: No timezone found, symbol may be delisted
- UTILITIES: No timezone found, symbol may be delisted
- INDUSTRIALS: No timezone found, symbol may be delisted

In [45]:
tickers=data_table[0]['Symbol'].tolist()

In [46]:
tickers

['MMM',
 'AOS',
 'ABT',
 'ABBV',
 'ACN',
 'ATVI',
 'ADM',
 'ADBE',
 'ADP',
 'AAP',
 'AES',
 'AFL',
 'A',
 'APD',
 'AKAM',
 'ALK',
 'ALB',
 'ARE',
 'ALGN',
 'ALLE',
 'LNT',
 'ALL',
 'GOOGL',
 'GOOG',
 'MO',
 'AMZN',
 'AMCR',
 'AMD',
 'AEE',
 'AAL',
 'AEP',
 'AXP',
 'AIG',
 'AMT',
 'AWK',
 'AMP',
 'ABC',
 'AME',
 'AMGN',
 'APH',
 'ADI',
 'ANSS',
 'AON',
 'APA',
 'AAPL',
 'AMAT',
 'APTV',
 'ACGL',
 'ANET',
 'AJG',
 'AIZ',
 'T',
 'ATO',
 'ADSK',
 'AZO',
 'AVB',
 'AVY',
 'BKR',
 'BALL',
 'BAC',
 'BBWI',
 'BAX',
 'BDX',
 'WRB',
 'BRK.B',
 'BBY',
 'BIO',
 'TECH',
 'BIIB',
 'BLK',
 'BK',
 'BA',
 'BKNG',
 'BWA',
 'BXP',
 'BSX',
 'BMY',
 'AVGO',
 'BR',
 'BRO',
 'BF.B',
 'CHRW',
 'CDNS',
 'CZR',
 'CPT',
 'CPB',
 'COF',
 'CAH',
 'KMX',
 'CCL',
 'CARR',
 'CTLT',
 'CAT',
 'CBOE',
 'CBRE',
 'CDW',
 'CE',
 'CNC',
 'CNP',
 'CDAY',
 'CF',
 'CRL',
 'SCHW',
 'CHTR',
 'CVX',
 'CMG',
 'CB',
 'CHD',
 'CI',
 'CINF',
 'CTAS',
 'CSCO',
 'C',
 'CFG',
 'CLX',
 'CME',
 'CMS',
 'KO',
 'CTSH',
 'CL',
 'CMCSA',
 'CMA',
 'CAG',
 'COP',
 'ED',
 'STZ',
 'CEG',
 'COO',
 'CPRT',
 'GLW',
 'CTVA',
 'CSGP',
 'COST',
 'CTRA',
 'CCI',
 'CSX',
 'CMI',
 'CVS',
 'DHI',
 'DHR',
 'DRI',
 'DVA',
 'DE',
 'DAL',
 'XRAY',
 'DVN',
 'DXCM',
 'FANG',
 'DLR',
 'DFS',
 'DISH',
 'DIS',
 'DG',
 'DLTR',
 'D',
 'DPZ',
 'DOV',
 'DOW',
 'DTE',
 'DUK',
 'DD',
 'DXC',
 'EMN',
 'ETN',
 'EBAY',
 'ECL',
 'EIX',
 'EW',
 'EA',
 'ELV',
 'LLY',
 'EMR',
 'ENPH',
 'ETR',
 'EOG',
 'EPAM',
 'EQT',
 'EFX',
 'EQIX',
 'EQR',
 'ESS',
 'EL',
 'ETSY',
 'RE',
 'EVRG',
 'ES',
 'EXC',
 'EXPE',
 'EXPD',
 'EXR',
 'XOM',
 'FFIV',
 'FDS',
 'FAST',
 'FRT',
 'FDX',
 'FITB',
 'FRC',
 'FSLR',
 'FE',
 'FIS',
 'FISV',
 'FLT',
 'FMC',
 'F',
 'FTNT',
 'FTV',
 'FOXA',
 'FOX',
 'BEN',
 'FCX',
 'GRMN',
 'IT',
 'GEHC',
 'GEN',
 'GNRC',
 'GD',
 'GE',
 'GIS',
 'GM',
 'GPC',
 'GILD',
 'GL',
 'GPN',
 'GS',
 'HAL',
 'HIG',
 'HAS',
 'HCA',
 'PEAK',
 'HSIC',
 'HSY',
 'HES',
 'HPE',
 'HLT',
 'HOLX',
 'HD',
 'HON',
 'HRL',
 'HST',
 'HWM',
 'HPQ',
 'HUM',
 'HBAN',
 'HII',
 'IBM',
 'IEX',
 'IDXX',
 'ITW',
 'ILMN',
 'INCY',
 'IR',
 'INTC',
 'ICE',
 'IFF',
 'IP',
 'IPG',
 'INTU',
 'ISRG',
 'IVZ',
 'INVH',
 'IQV',
 'IRM',
 'JBHT',
 'JKHY',
 'J',
 'JNJ',
 'JCI',
 'JPM',
 'JNPR',
 'K',
 'KDP',
 'KEY',
 'KEYS',
 'KMB',
 'KIM',
 'KMI',
 'KLAC',
 'KHC',
 'KR',
 'LHX',
 'LH',
 'LRCX',
 'LW',
 'LVS',
 'LDOS',
 'LEN',
 'LNC',
 'LIN',
 'LYV',
 'LKQ',
 'LMT',
 'L',
 'LOW',
 'LUMN',
 'LYB',
 'MTB',
 'MRO',
 'MPC',
 'MKTX',
 'MAR',
 'MMC',
 'MLM',
 'MAS',
 'MA',
 'MTCH',
 'MKC',
 'MCD',
 'MCK',
 'MDT',
 'MRK',
 'META',
 'MET',
 'MTD',
 'MGM',
 'MCHP',
 'MU',
 'MSFT',
 'MAA',
 'MRNA',
 'MHK',
 'MOH',
 'TAP',
 'MDLZ',
 'MPWR',
 'MNST',
 'MCO',
 'MS',
 'MOS',
 'MSI',
 'MSCI',
 'NDAQ',
 'NTAP',
 'NFLX',
 'NWL',
 'NEM',
 'NWSA',
 'NWS',
 'NEE',
 'NKE',
 'NI',
 'NDSN',
 'NSC',
 'NTRS',
 'NOC',
 'NCLH',
 'NRG',
 'NUE',
 'NVDA',
 'NVR',
 'NXPI',
 'ORLY',
 'OXY',
 'ODFL',
 'OMC',
 'ON',
 'OKE',
 'ORCL',
 'OGN',
 'OTIS',
 'PCAR',
 'PKG',
 'PARA',
 'PH',
 'PAYX',
 'PAYC',
 'PYPL',
 'PNR',
 'PEP',
 'PKI',
 'PFE',
 'PCG',
 'PM',
 'PSX',
 'PNW',
 'PXD',
 'PNC',
 'POOL',
 'PPG',
 'PPL',
 'PFG',
 'PG',
 'PGR',
 'PLD',
 'PRU',
 'PEG',
 'PTC',
 'PSA',
 'PHM',
 'QRVO',
 'PWR',
 'QCOM',
 'DGX',
 'RL',
 'RJF',
 'RTX',
 'O',
 'REG',
 'REGN',
 'RF',
 'RSG',
 'RMD',
 'RHI',
 'ROK',
 'ROL',
 'ROP',
 'ROST',
 'RCL',
 'SPGI',
 'CRM',
 'SBAC',
 'SLB',
 'STX',
 'SEE',
 'SRE',
 'NOW',
 'SHW',
 'SBNY',
 'SPG',
 'SWKS',
 'SJM',
 'SNA',
 'SEDG',
 'SO',
 'LUV',
 'SWK',
 'SBUX',
 'STT',
 'STLD',
 'STE',
 'SYK',
 'SIVB',
 'SYF',
 'SNPS',
 'SYY',
 'TMUS',
 'TROW',
 'TTWO',
 'TPR',
 'TRGP',
 'TGT',
 'TEL',
 'TDY',
 'TFX',
 'TER',
 'TSLA',
 'TXN',
 'TXT',
 'TMO',
 'TJX',
 'TSCO',
 'TT',
 'TDG',
 'TRV',
 'TRMB',
 'TFC',
 'TYL',
 'TSN',
 'USB',
 'UDR',
 'ULTA',
 'UNP',
 'UAL',
 'UPS',
 'URI',
 'UNH',
 'UHS',
 'VLO',
 'VTR',
 'VRSN',
 'VRSK',
 'VZ',
 'VRTX',
 'VFC',
 'VTRS',
 'VICI',
 'V',
 'VMC',
 'WAB',
 'WBA',
 'WMT',
 'WBD',
 'WM',
 'WAT',
 'WEC',
 'WFC',
 'WELL',
 'WST',
 'WDC',
 'WRK',
 'WY',
 'WHR',
 'WMB',
 'WTW',
 'GWW',
 'WYNN',
 'XEL',
 'XYL',
 'YUM',
 'ZBRA',
 'ZBH',
 'ZION',
 'ZTS']

In [47]:
snpbytick_prices = yf.download(tickers, start="2000-01-01", end="2023-12-31")['Adj Close']

[*********************100%***********************]  503 of 503 completed

2 Failed downloads:
- BF.B: No data found for this date range, symbol may be delisted
- BRK.B: No timezone found, symbol may be delisted

In [48]:
for i in range(len(tickers)):
    if tickers[i] == 'BRK.B':
        tickers[i] = 'BRK-B'
    elif tickers[i] == 'BF.B':
        tickers[i] = 'BF-B'

In [159]:
snpbytick_prices = yf.download(tickers, start="2000-01-01", end="2023-12-31")['Adj Close']
snpbytick_prices

[*********************100%***********************]  503 of 503 completed

,A,AAL,AAP,AAPL,ABBV,ABC,ABT,ACGL,ACN,ADBE,...,WYNN,XEL,XOM,XRAY,XYL,YUM,ZBH,ZBRA,ZION,ZTS
Date,,,,,,,,,,,,,,,,,,,,,
2000-01-03,44.001266,NaN,NaN,0.850643,NaN,2.988898,9.221022,1.277778,NaN,16.274672,...,NaN,7.294349,18.984556,6.772066,NaN,4.770267,NaN,25.027779,37.660618,NaN
2000-01-04,40.640064,NaN,NaN,0.778926,NaN,2.784836,8.957565,1.270833,NaN,14.909402,...,NaN,7.462309,18.620916,6.772066,NaN,4.674383,NaN,24.666668,35.836948,NaN
2000-01-05,38.119148,NaN,NaN,0.790324,NaN,3.000901,8.941100,1.388889,NaN,15.204172,...,NaN,7.750249,19.636063,6.889140,NaN,4.698354,NaN,25.138889,35.794544,NaN
2000-01-06,36.667713,NaN,NaN,0.721930,NaN,3.228970,9.253958,1.375000,NaN,15.328289,...,NaN,7.678262,20.651184,6.898145,NaN,4.658402,NaN,23.777779,36.303471,NaN
2000-01-07,39.723358,NaN,NaN,0.756127,NaN,3.649095,9.352756,1.451389,NaN,16.072987,...,NaN,7.678262,20.590588,6.880134,NaN,4.554525,NaN,23.513889,36.388283,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-02-21,143.419998,15.69,144.190002,148.479996,152.000000,160.839996,103.650002,67.550003,269.149994,346.700012,...,107.150002,67.199997,111.169998,35.400002,103.279999,130.610001,124.000000,307.000000,49.799999,169.839996
2023-02-22,142.080002,15.56,143.619995,148.910004,150.669998,160.130005,102.690002,67.940002,269.630005,348.720001,...,107.669998,66.690002,109.730003,35.139999,103.019997,129.309998,123.620003,304.869995,49.320000,166.429993
2023-02-23,143.199997,15.87,142.009995,149.399994,152.070007,159.500000,102.550003,68.379997,271.230011,347.019989,...,105.839996,66.330002,110.739998,35.220001,103.309998,128.669998,123.169998,301.000000,49.360001,169.500000
2023-02-24,141.199997,15.56,138.850006,146.710007,152.710007,158.570007,100.459999,69.169998,266.529999,320.540009,...,105.529999,65.809998,110.750000,34.330002,102.400002,126.830002,122.699997,291.920013,50.270000,166.330002
2023-02-27,142.259995,15.78,140.610001,148.110001,154.309998,156.630005,100.250000,69.260002,266.424988,321.730011,...,105.004997,65.389999,110.669998,34.380001,102.290001,126.779999,123.529999,296.089996,50.549999,165.759995

In [160]:
snpbytick_prices = snpbytick_prices.applymap(lambda x: str(x).replace('.', ','))

In [163]:
snpbytick_prices

,A,AAL,AAP,AAPL,ABBV,ABC,ABT,ACGL,ACN,ADBE,...,WYNN,XEL,XOM,XRAY,XYL,YUM,ZBH,ZBRA,ZION,ZTS
Date,,,,,,,,,,,,,,,,,,,,,
2000-01-03,"44,00126647949219",nan,nan,"0,8506433367729187",nan,"2,9888980388641357","9,22102165222168","1,2777780294418335",nan,"16,27467155456543",...,nan,"7,29434871673584","18,984556198120117","6,77206563949585",nan,"4,770267009735107",nan,"25,02777862548828","37,66061782836914",nan
2000-01-04,"40,64006423950195",nan,nan,"0,7789258360862732",nan,"2,7848360538482666","8,957565307617188","1,2708330154418945",nan,"14,909401893615723",...,nan,"7,462308883666992","18,62091636657715","6,77206563949585",nan,"4,674383163452148",nan,"24,666667938232422","35,83694839477539",nan
2000-01-05,"38,11914825439453",nan,nan,"0,7903236150741577",nan,"3,0009007453918457","8,941100120544434","1,388888955116272",nan,"15,204172134399414",...,nan,"7,750248908996582","19,636062622070312","6,889139652252197",nan,"4,6983537673950195",nan,"25,13888931274414","35,7945442199707",nan
2000-01-06,"36,6677131652832",nan,nan,"0,7219302654266357",nan,"3,2289698123931885","9,253957748413086","1,375",nan,"15,328289031982422",...,nan,"7,678262233734131","20,65118408203125","6,8981451988220215",nan,"4,658401966094971",nan,"23,77777862548828","36,303470611572266",nan
2000-01-07,"39,723358154296875",nan,nan,"0,7561274766921997",nan,"3,649094581604004","9,352755546569824","1,451388955116272",nan,"16,072986602783203",...,nan,"7,678262233734131","20,590587615966797","6,880133628845215",nan,"4,554525375366211",nan,"23,51388931274414","36,388282775878906",nan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-02-21,"143,4199981689453","15,6899995803833","144,19000244140625","148,47999572753906","152,0","160,83999633789062","103,6500015258789","67,55000305175781","269,1499938964844","346,70001220703125",...,"107,1500015258789","67,19999694824219","111,16999816894531","35,400001525878906","103,27999877929688","130,61000061035156","124,0","307,0","49,79999923706055","169,83999633789062"
2023-02-22,"142,0800018310547","15,5600004196167","143,6199951171875","148,91000366210938","150,6699981689453","160,1300048828125","102,69000244140625","67,94000244140625","269,6300048828125","348,7200012207031",...,"107,66999816894531","66,69000244140625","109,7300033569336","35,13999938964844","103,0199966430664","129,30999755859375","123,62000274658203","304,8699951171875","49,31999969482422","166,42999267578125"
2023-02-23,"143,1999969482422","15,869999885559082","142,00999450683594","149,39999389648438","152,07000732421875","159,5","102,55000305175781","68,37999725341797","271,2300109863281","347,0199890136719",...,"105,83999633789062","66,33000183105469","110,73999786376953","35,220001220703125","103,30999755859375","128,6699981689453","123,16999816894531","301,0","49,36000061035156","169,5"
2023-02-24,"141,1999969482422","15,5600004196167","138,85000610351562","146,7100067138672","152,7100067138672","158,57000732421875","100,45999908447266","69,16999816894531","266,5299987792969","320,5400085449219",...,"105,52999877929688","65,80999755859375","110,75","34,33000183105469","102,4000015258789","126,83000183105469","122,69999694824219","291,9200134277344","50,27000045776367","166,3300018310547"
2023-02-27,"142,25999450683594","15,779999732971191","140,61000061035156","148,11000061035156","154,30999755859375","156,6300048828125","100,25","69,26000213623047","266,42498779296875","321,7300109863281",...,"105,00499725341797","65,38999938964844","110,66999816894531","34,380001068115234","102,29000091552734","126,77999877929688","123,52999877929688","296,0899963378906","50,54999923706055","165,75999450683594"

In [162]:
snpbytick_prices.to_csv('stockspys.csv',sep=';')

In [164]:
snpbytick_prices=snpbytick_prices.transpose()

In [165]:
snpbytick_prices

Date,2000-01-03,2000-01-04,2000-01-05,2000-01-06,2000-01-07,2000-01-10,2000-01-11,2000-01-12,2000-01-13,2000-01-14,...,2023-02-13,2023-02-14,2023-02-15,2023-02-16,2023-02-17,2023-02-21,2023-02-22,2023-02-23,2023-02-24,2023-02-27
A,"44,00126647949219","40,64006423950195","38,11914825439453","36,6677131652832","39,723358154296875","42,129676818847656","41,55674743652344","40,71644592285156","41,32756042480469","41,785919189453125",...,"154,60000610351562","153,0399932861328","151,75","148,27999877929688","148,25999450683594","143,4199981689453","142,0800018310547","143,1999969482422","141,1999969482422","142,25999450683594"
AAL,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,...,"16,510000228881836","16,790000915527344","16,799999237060547","16,389999389648438","16,360000610351562","15,6899995803833","15,5600004196167","15,869999885559082","15,5600004196167","15,779999732971191"
AAP,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,...,"152,19000244140625","150,75999450683594","151,2899932861328","150,19000244140625","149,99000549316406","144,19000244140625","143,6199951171875","142,00999450683594","138,85000610351562","140,61000061035156"
AAPL,"0,8506433367729187","0,7789258360862732","0,7903236150741577","0,7219302654266357","0,7561274766921997","0,7428288459777832","0,7048324346542358","0,6625615358352661","0,7352293729782104","0,763251543045044",...,"153,85000610351562","153,1999969482422","155,3300018310547","153,7100067138672","152,5500030517578","148,47999572753906","148,91000366210938","149,39999389648438","146,7100067138672","148,11000061035156"
ABBV,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,...,"153,72999572753906","152,58999633789062","151,05999755859375","149,52999877929688","151,30999755859375","152,0","150,6699981689453","152,07000732421875","152,7100067138672","154,30999755859375"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
YUM,"4,770267009735107","4,674383163452148","4,6983537673950195","4,658401966094971","4,554525375366211","4,738303184509277","4,706344127655029","4,658401966094971","4,7303147315979","4,6024675369262695",...,"131,91281127929688","130,2305450439453","131,0666961669922","131,11647033691406","131,43499755859375","130,61000061035156","129,30999755859375","128,6699981689453","126,83000183105469","126,77999877929688"
ZBH,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,...,"128,0500030517578","126,70999908447266","126,51000213623047","125,11000061035156","125,97000122070312","124,0","123,62000274658203","123,16999816894531","122,69999694824219","123,52999877929688"
ZBRA,"25,02777862548828","24,666667938232422","25,13888931274414","23,77777862548828","23,51388931274414","24,30555534362793","24,47222137451172","23,86111068725586","23,94444465637207","26,63888931274414",...,"318,95001220703125","318,760009765625","327,0199890136719","333,44000244140625","322,5799865722656","307,0","304,8699951171875","301,0","291,9200134277344","296,0899963378906"
ZION,"37,66061782836914","35,83694839477539","35,7945442199707","36,303470611572266","36,388282775878906","35,73093032836914","33,84365463256836","34,140533447265625","37,109283447265625","37,74542999267578",...,"52,488677978515625","52,31999969482422","52,18000030517578","51,38999938964844","51,43000030517578","49,79999923706055","49,31999969482422","49,36000061035156","50,27000045776367","50,54999923706055"
ZTS,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,...,"163,13999938964844","171,89999389648438","175,02000427246094","173,92999267578125","172,02999877929688","169,83999633789062","166,42999267578125","169,5","166,3300018310547","165,75999450683594"

In [167]:
snpbytick_p=snpbytick_prices.reset_index()
snpbytick_p

Date,index,2000-01-03 00:00:00,2000-01-04 00:00:00,2000-01-05 00:00:00,2000-01-06 00:00:00,2000-01-07 00:00:00,2000-01-10 00:00:00,2000-01-11 00:00:00,2000-01-12 00:00:00,2000-01-13 00:00:00,...,2023-02-13 00:00:00,2023-02-14 00:00:00,2023-02-15 00:00:00,2023-02-16 00:00:00,2023-02-17 00:00:00,2023-02-21 00:00:00,2023-02-22 00:00:00,2023-02-23 00:00:00,2023-02-24 00:00:00,2023-02-27 00:00:00
0,A,"44,00126647949219","40,64006423950195","38,11914825439453","36,6677131652832","39,723358154296875","42,129676818847656","41,55674743652344","40,71644592285156","41,32756042480469",...,"154,60000610351562","153,0399932861328","151,75","148,27999877929688","148,25999450683594","143,4199981689453","142,0800018310547","143,1999969482422","141,1999969482422","142,25999450683594"
1,AAL,nan,nan,nan,nan,nan,nan,nan,nan,nan,...,"16,510000228881836","16,790000915527344","16,799999237060547","16,389999389648438","16,360000610351562","15,6899995803833","15,5600004196167","15,869999885559082","15,5600004196167","15,779999732971191"
2,AAP,nan,nan,nan,nan,nan,nan,nan,nan,nan,...,"152,19000244140625","150,75999450683594","151,2899932861328","150,19000244140625","149,99000549316406","144,19000244140625","143,6199951171875","142,00999450683594","138,85000610351562","140,61000061035156"
3,AAPL,"0,8506433367729187","0,7789258360862732","0,7903236150741577","0,7219302654266357","0,7561274766921997","0,7428288459777832","0,7048324346542358","0,6625615358352661","0,7352293729782104",...,"153,85000610351562","153,1999969482422","155,3300018310547","153,7100067138672","152,5500030517578","148,47999572753906","148,91000366210938","149,39999389648438","146,7100067138672","148,11000061035156"
4,ABBV,nan,nan,nan,nan,nan,nan,nan,nan,nan,...,"153,72999572753906","152,58999633789062","151,05999755859375","149,52999877929688","151,30999755859375","152,0","150,6699981689453","152,07000732421875","152,7100067138672","154,30999755859375"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
498,YUM,"4,770267009735107","4,674383163452148","4,6983537673950195","4,658401966094971","4,554525375366211","4,738303184509277","4,706344127655029","4,658401966094971","4,7303147315979",...,"131,91281127929688","130,2305450439453","131,0666961669922","131,11647033691406","131,43499755859375","130,61000061035156","129,30999755859375","128,6699981689453","126,83000183105469","126,77999877929688"
499,ZBH,nan,nan,nan,nan,nan,nan,nan,nan,nan,...,"128,0500030517578","126,70999908447266","126,51000213623047","125,11000061035156","125,97000122070312","124,0","123,62000274658203","123,16999816894531","122,69999694824219","123,52999877929688"
500,ZBRA,"25,02777862548828","24,666667938232422","25,13888931274414","23,77777862548828","23,51388931274414","24,30555534362793","24,47222137451172","23,86111068725586","23,94444465637207",...,"318,95001220703125","318,760009765625","327,0199890136719","333,44000244140625","322,5799865722656","307,0","304,8699951171875","301,0","291,9200134277344","296,0899963378906"
501,ZION,"37,66061782836914","35,83694839477539","35,7945442199707","36,303470611572266","36,388282775878906","35,73093032836914","33,84365463256836","34,140533447265625","37,109283447265625",...,"52,488677978515625","52,31999969482422","52,18000030517578","51,38999938964844","51,43000030517578","49,79999923706055","49,31999969482422","49,36000061035156","50,27000045776367","50,54999923706055"
502,ZTS,nan,nan,nan,nan,nan,nan,nan,nan,nan,...,"163,13999938964844","171,89999389648438","175,02000427246094","173,92999267578125","172,02999877929688","169,83999633789062","166,42999267578125","169,5","166,3300018310547","165,75999450683594"

In [169]:
snpbytick_p = snpbytick_p.rename(columns={'index': 'Symbol'})
snpbytick_p

Date,Symbol,2000-01-03 00:00:00,2000-01-04 00:00:00,2000-01-05 00:00:00,2000-01-06 00:00:00,2000-01-07 00:00:00,2000-01-10 00:00:00,2000-01-11 00:00:00,2000-01-12 00:00:00,2000-01-13 00:00:00,...,2023-02-13 00:00:00,2023-02-14 00:00:00,2023-02-15 00:00:00,2023-02-16 00:00:00,2023-02-17 00:00:00,2023-02-21 00:00:00,2023-02-22 00:00:00,2023-02-23 00:00:00,2023-02-24 00:00:00,2023-02-27 00:00:00
0,A,"44,00126647949219","40,64006423950195","38,11914825439453","36,6677131652832","39,723358154296875","42,129676818847656","41,55674743652344","40,71644592285156","41,32756042480469",...,"154,60000610351562","153,0399932861328","151,75","148,27999877929688","148,25999450683594","143,4199981689453","142,0800018310547","143,1999969482422","141,1999969482422","142,25999450683594"
1,AAL,nan,nan,nan,nan,nan,nan,nan,nan,nan,...,"16,510000228881836","16,790000915527344","16,799999237060547","16,389999389648438","16,360000610351562","15,6899995803833","15,5600004196167","15,869999885559082","15,5600004196167","15,779999732971191"
2,AAP,nan,nan,nan,nan,nan,nan,nan,nan,nan,...,"152,19000244140625","150,75999450683594","151,2899932861328","150,19000244140625","149,99000549316406","144,19000244140625","143,6199951171875","142,00999450683594","138,85000610351562","140,61000061035156"
3,AAPL,"0,8506433367729187","0,7789258360862732","0,7903236150741577","0,7219302654266357","0,7561274766921997","0,7428288459777832","0,7048324346542358","0,6625615358352661","0,7352293729782104",...,"153,85000610351562","153,1999969482422","155,3300018310547","153,7100067138672","152,5500030517578","148,47999572753906","148,91000366210938","149,39999389648438","146,7100067138672","148,11000061035156"
4,ABBV,nan,nan,nan,nan,nan,nan,nan,nan,nan,...,"153,72999572753906","152,58999633789062","151,05999755859375","149,52999877929688","151,30999755859375","152,0","150,6699981689453","152,07000732421875","152,7100067138672","154,30999755859375"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
498,YUM,"4,770267009735107","4,674383163452148","4,6983537673950195","4,658401966094971","4,554525375366211","4,738303184509277","4,706344127655029","4,658401966094971","4,7303147315979",...,"131,91281127929688","130,2305450439453","131,0666961669922","131,11647033691406","131,43499755859375","130,61000061035156","129,30999755859375","128,6699981689453","126,83000183105469","126,77999877929688"
499,ZBH,nan,nan,nan,nan,nan,nan,nan,nan,nan,...,"128,0500030517578","126,70999908447266","126,51000213623047","125,11000061035156","125,97000122070312","124,0","123,62000274658203","123,16999816894531","122,69999694824219","123,52999877929688"
500,ZBRA,"25,02777862548828","24,666667938232422","25,13888931274414","23,77777862548828","23,51388931274414","24,30555534362793","24,47222137451172","23,86111068725586","23,94444465637207",...,"318,95001220703125","318,760009765625","327,0199890136719","333,44000244140625","322,5799865722656","307,0","304,8699951171875","301,0","291,9200134277344","296,0899963378906"
501,ZION,"37,66061782836914","35,83694839477539","35,7945442199707","36,303470611572266","36,388282775878906","35,73093032836914","33,84365463256836","34,140533447265625","37,109283447265625",...,"52,488677978515625","52,31999969482422","52,18000030517578","51,38999938964844","51,43000030517578","49,79999923706055","49,31999969482422","49,36000061035156","50,27000045776367","50,54999923706055"
502,ZTS,nan,nan,nan,nan,nan,nan,nan,nan,nan,...,"163,13999938964844","171,89999389648438","175,02000427246094","173,92999267578125","172,02999877929688","169,83999633789062","166,42999267578125","169,5","166,3300018310547","165,75999450683594"

In [187]:
fusion= pd.merge(snpbytick_p, filter_gic, on='Symbol', how='right')
fusion

,Symbol,2000-01-03 00:00:00,2000-01-04 00:00:00,2000-01-05 00:00:00,2000-01-06 00:00:00,2000-01-07 00:00:00,2000-01-10 00:00:00,2000-01-11 00:00:00,2000-01-12 00:00:00,2000-01-13 00:00:00,...,2023-02-14 00:00:00,2023-02-15 00:00:00,2023-02-16 00:00:00,2023-02-17 00:00:00,2023-02-21 00:00:00,2023-02-22 00:00:00,2023-02-23 00:00:00,2023-02-24 00:00:00,2023-02-27 00:00:00,GICS Sector
0,A,"44,00126647949219","40,64006423950195","38,11914825439453","36,6677131652832","39,723358154296875","42,129676818847656","41,55674743652344","40,71644592285156","41,32756042480469",...,"153,0399932861328","151,75","148,27999877929688","148,25999450683594","143,4199981689453","142,0800018310547","143,1999969482422","141,1999969482422","142,25999450683594",Health Care
1,AAL,nan,nan,nan,nan,nan,nan,nan,nan,nan,...,"16,790000915527344","16,799999237060547","16,389999389648438","16,360000610351562","15,6899995803833","15,5600004196167","15,869999885559082","15,5600004196167","15,779999732971191",Industrials
2,AAP,nan,nan,nan,nan,nan,nan,nan,nan,nan,...,"150,75999450683594","151,2899932861328","150,19000244140625","149,99000549316406","144,19000244140625","143,6199951171875","142,00999450683594","138,85000610351562","140,61000061035156",Consumer Discretionary
3,AAPL,"0,8506433367729187","0,7789258360862732","0,7903236150741577","0,7219302654266357","0,7561274766921997","0,7428288459777832","0,7048324346542358","0,6625615358352661","0,7352293729782104",...,"153,1999969482422","155,3300018310547","153,7100067138672","152,5500030517578","148,47999572753906","148,91000366210938","149,39999389648438","146,7100067138672","148,11000061035156",Information Technology
4,ABBV,nan,nan,nan,nan,nan,nan,nan,nan,nan,...,"152,58999633789062","151,05999755859375","149,52999877929688","151,30999755859375","152,0","150,6699981689453","152,07000732421875","152,7100067138672","154,30999755859375",Health Care
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
498,YUM,"4,770267009735107","4,674383163452148","4,6983537673950195","4,658401966094971","4,554525375366211","4,738303184509277","4,706344127655029","4,658401966094971","4,7303147315979",...,"130,2305450439453","131,0666961669922","131,11647033691406","131,43499755859375","130,61000061035156","129,30999755859375","128,6699981689453","126,83000183105469","126,77999877929688",Consumer Discretionary
499,ZBH,nan,nan,nan,nan,nan,nan,nan,nan,nan,...,"126,70999908447266","126,51000213623047","125,11000061035156","125,97000122070312","124,0","123,62000274658203","123,16999816894531","122,69999694824219","123,52999877929688",Health Care
500,ZBRA,"25,02777862548828","24,666667938232422","25,13888931274414","23,77777862548828","23,51388931274414","24,30555534362793","24,47222137451172","23,86111068725586","23,94444465637207",...,"318,760009765625","327,0199890136719","333,44000244140625","322,5799865722656","307,0","304,8699951171875","301,0","291,9200134277344","296,0899963378906",Information Technology
501,ZION,"37,66061782836914","35,83694839477539","35,7945442199707","36,303470611572266","36,388282775878906","35,73093032836914","33,84365463256836","34,140533447265625","37,109283447265625",...,"52,31999969482422","52,18000030517578","51,38999938964844","51,43000030517578","49,79999923706055","49,31999969482422","49,36000061035156","50,27000045776367","50,54999923706055",Financials
502,ZTS,nan,nan,nan,nan,nan,nan,nan,nan,nan,...,"171,89999389648438","175,02000427246094","173,92999267578125","172,02999877929688","169,83999633789062","166,42999267578125","169,5","166,3300018310547","165,75999450683594",Health Care

In [188]:
fusion = fusion[[fusion.columns[-1]] + list(fusion.columns[:-1])]
fusion

,GICS Sector,Symbol,2000-01-03 00:00:00,2000-01-04 00:00:00,2000-01-05 00:00:00,2000-01-06 00:00:00,2000-01-07 00:00:00,2000-01-10 00:00:00,2000-01-11 00:00:00,2000-01-12 00:00:00,...,2023-02-13 00:00:00,2023-02-14 00:00:00,2023-02-15 00:00:00,2023-02-16 00:00:00,2023-02-17 00:00:00,2023-02-21 00:00:00,2023-02-22 00:00:00,2023-02-23 00:00:00,2023-02-24 00:00:00,2023-02-27 00:00:00
0,Health Care,A,"44,00126647949219","40,64006423950195","38,11914825439453","36,6677131652832","39,723358154296875","42,129676818847656","41,55674743652344","40,71644592285156",...,"154,60000610351562","153,0399932861328","151,75","148,27999877929688","148,25999450683594","143,4199981689453","142,0800018310547","143,1999969482422","141,1999969482422","142,25999450683594"
1,Industrials,AAL,nan,nan,nan,nan,nan,nan,nan,nan,...,"16,510000228881836","16,790000915527344","16,799999237060547","16,389999389648438","16,360000610351562","15,6899995803833","15,5600004196167","15,869999885559082","15,5600004196167","15,779999732971191"
2,Consumer Discretionary,AAP,nan,nan,nan,nan,nan,nan,nan,nan,...,"152,19000244140625","150,75999450683594","151,2899932861328","150,19000244140625","149,99000549316406","144,19000244140625","143,6199951171875","142,00999450683594","138,85000610351562","140,61000061035156"
3,Information Technology,AAPL,"0,8506433367729187","0,7789258360862732","0,7903236150741577","0,7219302654266357","0,7561274766921997","0,7428288459777832","0,7048324346542358","0,6625615358352661",...,"153,85000610351562","153,1999969482422","155,3300018310547","153,7100067138672","152,5500030517578","148,47999572753906","148,91000366210938","149,39999389648438","146,7100067138672","148,11000061035156"
4,Health Care,ABBV,nan,nan,nan,nan,nan,nan,nan,nan,...,"153,72999572753906","152,58999633789062","151,05999755859375","149,52999877929688","151,30999755859375","152,0","150,6699981689453","152,07000732421875","152,7100067138672","154,30999755859375"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
498,Consumer Discretionary,YUM,"4,770267009735107","4,674383163452148","4,6983537673950195","4,658401966094971","4,554525375366211","4,738303184509277","4,706344127655029","4,658401966094971",...,"131,91281127929688","130,2305450439453","131,0666961669922","131,11647033691406","131,43499755859375","130,61000061035156","129,30999755859375","128,6699981689453","126,83000183105469","126,77999877929688"
499,Health Care,ZBH,nan,nan,nan,nan,nan,nan,nan,nan,...,"128,0500030517578","126,70999908447266","126,51000213623047","125,11000061035156","125,97000122070312","124,0","123,62000274658203","123,16999816894531","122,69999694824219","123,52999877929688"
500,Information Technology,ZBRA,"25,02777862548828","24,666667938232422","25,13888931274414","23,77777862548828","23,51388931274414","24,30555534362793","24,47222137451172","23,86111068725586",...,"318,95001220703125","318,760009765625","327,0199890136719","333,44000244140625","322,5799865722656","307,0","304,8699951171875","301,0","291,9200134277344","296,0899963378906"
501,Financials,ZION,"37,66061782836914","35,83694839477539","35,7945442199707","36,303470611572266","36,388282775878906","35,73093032836914","33,84365463256836","34,140533447265625",...,"52,488677978515625","52,31999969482422","52,18000030517578","51,38999938964844","51,43000030517578","49,79999923706055","49,31999969482422","49,36000061035156","50,27000045776367","50,54999923706055"
502,Health Care,ZTS,nan,nan,nan,nan,nan,nan,nan,nan,...,"163,13999938964844","171,89999389648438","175,02000427246094","173,92999267578125","172,02999877929688","169,83999633789062","166,42999267578125","169,5","166,3300018310547","165,75999450683594"

In [186]:
fusion=fusion.transpose()
fusion

,0,1,2,3,4,5,6,7,8,9,...,493,494,495,496,497,498,499,500,501,502
GICS Sector,Health Care,Industrials,Consumer Discretionary,Information Technology,Health Care,Health Care,Health Care,Financials,Information Technology,Information Technology,...,Consumer Discretionary,Utilities,Energy,Health Care,Industrials,Consumer Discretionary,Health Care,Information Technology,Financials,Health Care
Symbol,A,AAL,AAP,AAPL,ABBV,ABC,ABT,ACGL,ACN,ADBE,...,WYNN,XEL,XOM,XRAY,XYL,YUM,ZBH,ZBRA,ZION,ZTS
2000-01-03 00:00:00,"44,00126647949219",nan,nan,"0,8506433367729187",nan,"2,9888980388641357","9,22102165222168","1,2777780294418335",nan,"16,27467155456543",...,nan,"7,29434871673584","18,984556198120117","6,77206563949585",nan,"4,770267009735107",nan,"25,02777862548828","37,66061782836914",nan
2000-01-04 00:00:00,"40,64006423950195",nan,nan,"0,7789258360862732",nan,"2,7848360538482666","8,957565307617188","1,2708330154418945",nan,"14,909401893615723",...,nan,"7,462308883666992","18,62091636657715","6,77206563949585",nan,"4,674383163452148",nan,"24,666667938232422","35,83694839477539",nan
2000-01-05 00:00:00,"38,11914825439453",nan,nan,"0,7903236150741577",nan,"3,0009007453918457","8,941100120544434","1,388888955116272",nan,"15,204172134399414",...,nan,"7,750248908996582","19,636062622070312","6,889139652252197",nan,"4,6983537673950195",nan,"25,13888931274414","35,7945442199707",nan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-02-21 00:00:00,"143,4199981689453","15,6899995803833","144,19000244140625","148,47999572753906","152,0","160,83999633789062","103,6500015258789","67,55000305175781","269,1499938964844","346,70001220703125",...,"107,1500015258789","67,19999694824219","111,16999816894531","35,400001525878906","103,27999877929688","130,61000061035156","124,0","307,0","49,79999923706055","169,83999633789062"
2023-02-22 00:00:00,"142,0800018310547","15,5600004196167","143,6199951171875","148,91000366210938","150,6699981689453","160,1300048828125","102,69000244140625","67,94000244140625","269,6300048828125","348,7200012207031",...,"107,66999816894531","66,69000244140625","109,7300033569336","35,13999938964844","103,0199966430664","129,30999755859375","123,62000274658203","304,8699951171875","49,31999969482422","166,42999267578125"
2023-02-23 00:00:00,"143,1999969482422","15,869999885559082","142,00999450683594","149,39999389648438","152,07000732421875","159,5","102,55000305175781","68,37999725341797","271,2300109863281","347,0199890136719",...,"105,83999633789062","66,33000183105469","110,73999786376953","35,220001220703125","103,30999755859375","128,6699981689453","123,16999816894531","301,0","49,36000061035156","169,5"
2023-02-24 00:00:00,"141,1999969482422","15,5600004196167","138,85000610351562","146,7100067138672","152,7100067138672","158,57000732421875","100,45999908447266","69,16999816894531","266,5299987792969","320,5400085449219",...,"105,52999877929688","65,80999755859375","110,75","34,33000183105469","102,4000015258789","126,83000183105469","122,69999694824219","291,9200134277344","50,27000045776367","166,3300018310547"
2023-02-27 00:00:00,"142,25999450683594","15,779999732971191","140,61000061035156","148,11000061035156","154,30999755859375","156,6300048828125","100,25","69,26000213623047","266,42498779296875","321,7300109863281",...,"105,00499725341797","65,38999938964844","110,66999816894531","34,380001068115234","102,29000091552734","126,77999877929688","123,52999877929688","296,0899963378906","50,54999923706055","165,75999450683594"

In [ ]:
fusion.to_csv('fusiontiksec.csv',sep=';')

In [198]:
sector_close=fusion.drop(['Symbol'],axis=1)
sector_close

,GICS Sector,2000-01-03 00:00:00,2000-01-04 00:00:00,2000-01-05 00:00:00,2000-01-06 00:00:00,2000-01-07 00:00:00,2000-01-10 00:00:00,2000-01-11 00:00:00,2000-01-12 00:00:00,2000-01-13 00:00:00,...,2023-02-13 00:00:00,2023-02-14 00:00:00,2023-02-15 00:00:00,2023-02-16 00:00:00,2023-02-17 00:00:00,2023-02-21 00:00:00,2023-02-22 00:00:00,2023-02-23 00:00:00,2023-02-24 00:00:00,2023-02-27 00:00:00
0,Health Care,"44,00126647949219","40,64006423950195","38,11914825439453","36,6677131652832","39,723358154296875","42,129676818847656","41,55674743652344","40,71644592285156","41,32756042480469",...,"154,60000610351562","153,0399932861328","151,75","148,27999877929688","148,25999450683594","143,4199981689453","142,0800018310547","143,1999969482422","141,1999969482422","142,25999450683594"
1,Industrials,nan,nan,nan,nan,nan,nan,nan,nan,nan,...,"16,510000228881836","16,790000915527344","16,799999237060547","16,389999389648438","16,360000610351562","15,6899995803833","15,5600004196167","15,869999885559082","15,5600004196167","15,779999732971191"
2,Consumer Discretionary,nan,nan,nan,nan,nan,nan,nan,nan,nan,...,"152,19000244140625","150,75999450683594","151,2899932861328","150,19000244140625","149,99000549316406","144,19000244140625","143,6199951171875","142,00999450683594","138,85000610351562","140,61000061035156"
3,Information Technology,"0,8506433367729187","0,7789258360862732","0,7903236150741577","0,7219302654266357","0,7561274766921997","0,7428288459777832","0,7048324346542358","0,6625615358352661","0,7352293729782104",...,"153,85000610351562","153,1999969482422","155,3300018310547","153,7100067138672","152,5500030517578","148,47999572753906","148,91000366210938","149,39999389648438","146,7100067138672","148,11000061035156"
4,Health Care,nan,nan,nan,nan,nan,nan,nan,nan,nan,...,"153,72999572753906","152,58999633789062","151,05999755859375","149,52999877929688","151,30999755859375","152,0","150,6699981689453","152,07000732421875","152,7100067138672","154,30999755859375"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
498,Consumer Discretionary,"4,770267009735107","4,674383163452148","4,6983537673950195","4,658401966094971","4,554525375366211","4,738303184509277","4,706344127655029","4,658401966094971","4,7303147315979",...,"131,91281127929688","130,2305450439453","131,0666961669922","131,11647033691406","131,43499755859375","130,61000061035156","129,30999755859375","128,6699981689453","126,83000183105469","126,77999877929688"
499,Health Care,nan,nan,nan,nan,nan,nan,nan,nan,nan,...,"128,0500030517578","126,70999908447266","126,51000213623047","125,11000061035156","125,97000122070312","124,0","123,62000274658203","123,16999816894531","122,69999694824219","123,52999877929688"
500,Information Technology,"25,02777862548828","24,666667938232422","25,13888931274414","23,77777862548828","23,51388931274414","24,30555534362793","24,47222137451172","23,86111068725586","23,94444465637207",...,"318,95001220703125","318,760009765625","327,0199890136719","333,44000244140625","322,5799865722656","307,0","304,8699951171875","301,0","291,9200134277344","296,0899963378906"
501,Financials,"37,66061782836914","35,83694839477539","35,7945442199707","36,303470611572266","36,388282775878906","35,73093032836914","33,84365463256836","34,140533447265625","37,109283447265625",...,"52,488677978515625","52,31999969482422","52,18000030517578","51,38999938964844","51,43000030517578","49,79999923706055","49,31999969482422","49,36000061035156","50,27000045776367","50,54999923706055"
502,Health Care,nan,nan,nan,nan,nan,nan,nan,nan,nan,...,"163,13999938964844","171,89999389648438","175,02000427246094","173,92999267578125","172,02999877929688","169,83999633789062","166,42999267578125","169,5","166,3300018310547","165,75999450683594"

In [195]:
agrupados = sector_close.groupby(level=0,axis=1)
agrupados

In [183]:
df_agrupado = sector_close.groupby(level=0).sum()
df_agrupado

,GICS Sector,2000-01-03 00:00:00,2000-01-04 00:00:00,2000-01-05 00:00:00,2000-01-06 00:00:00,2000-01-07 00:00:00,2000-01-10 00:00:00,2000-01-11 00:00:00,2000-01-12 00:00:00,2000-01-13 00:00:00,...,2023-02-13 00:00:00,2023-02-14 00:00:00,2023-02-15 00:00:00,2023-02-16 00:00:00,2023-02-17 00:00:00,2023-02-21 00:00:00,2023-02-22 00:00:00,2023-02-23 00:00:00,2023-02-24 00:00:00,2023-02-27 00:00:00
0,Health Care,"44,00126647949219","40,64006423950195","38,11914825439453","36,6677131652832","39,723358154296875","42,129676818847656","41,55674743652344","40,71644592285156","41,32756042480469",...,"154,60000610351562","153,0399932861328","151,75","148,27999877929688","148,25999450683594","143,4199981689453","142,0800018310547","143,1999969482422","141,1999969482422","142,25999450683594"
1,Industrials,nan,nan,nan,nan,nan,nan,nan,nan,nan,...,"16,510000228881836","16,790000915527344","16,799999237060547","16,389999389648438","16,360000610351562","15,6899995803833","15,5600004196167","15,869999885559082","15,5600004196167","15,779999732971191"
2,Consumer Discretionary,nan,nan,nan,nan,nan,nan,nan,nan,nan,...,"152,19000244140625","150,75999450683594","151,2899932861328","150,19000244140625","149,99000549316406","144,19000244140625","143,6199951171875","142,00999450683594","138,85000610351562","140,61000061035156"
3,Information Technology,"0,8506433367729187","0,7789258360862732","0,7903236150741577","0,7219302654266357","0,7561274766921997","0,7428288459777832","0,7048324346542358","0,6625615358352661","0,7352293729782104",...,"153,85000610351562","153,1999969482422","155,3300018310547","153,7100067138672","152,5500030517578","148,47999572753906","148,91000366210938","149,39999389648438","146,7100067138672","148,11000061035156"
4,Health Care,nan,nan,nan,nan,nan,nan,nan,nan,nan,...,"153,72999572753906","152,58999633789062","151,05999755859375","149,52999877929688","151,30999755859375","152,0","150,6699981689453","152,07000732421875","152,7100067138672","154,30999755859375"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
498,Consumer Discretionary,"4,770267009735107","4,674383163452148","4,6983537673950195","4,658401966094971","4,554525375366211","4,738303184509277","4,706344127655029","4,658401966094971","4,7303147315979",...,"131,91281127929688","130,2305450439453","131,0666961669922","131,11647033691406","131,43499755859375","130,61000061035156","129,30999755859375","128,6699981689453","126,83000183105469","126,77999877929688"
499,Health Care,nan,nan,nan,nan,nan,nan,nan,nan,nan,...,"128,0500030517578","126,70999908447266","126,51000213623047","125,11000061035156","125,97000122070312","124,0","123,62000274658203","123,16999816894531","122,69999694824219","123,52999877929688"
500,Information Technology,"25,02777862548828","24,666667938232422","25,13888931274414","23,77777862548828","23,51388931274414","24,30555534362793","24,47222137451172","23,86111068725586","23,94444465637207",...,"318,95001220703125","318,760009765625","327,0199890136719","333,44000244140625","322,5799865722656","307,0","304,8699951171875","301,0","291,9200134277344","296,0899963378906"
501,Financials,"37,66061782836914","35,83694839477539","35,7945442199707","36,303470611572266","36,388282775878906","35,73093032836914","33,84365463256836","34,140533447265625","37,109283447265625",...,"52,488677978515625","52,31999969482422","52,18000030517578","51,38999938964844","51,43000030517578","49,79999923706055","49,31999969482422","49,36000061035156","50,27000045776367","50,54999923706055"
502,Health Care,nan,nan,nan,nan,nan,nan,nan,nan,nan,...,"163,13999938964844","171,89999389648438","175,02000427246094","173,92999267578125","172,02999877929688","169,83999633789062","166,42999267578125","169,5","166,3300018310547","165,75999450683594"

In [199]:
sector_close.to_csv('stockdate.csv',sep=';')

In [176]:
sector_close=sector_close.transpose()
sector_close

,0,1,2,3,4,5,6,7,8,9,...,493,494,495,496,497,498,499,500,501,502
GICS Sector,Health Care,Industrials,Consumer Discretionary,Information Technology,Health Care,Health Care,Health Care,Financials,Information Technology,Information Technology,...,Consumer Discretionary,Utilities,Energy,Health Care,Industrials,Consumer Discretionary,Health Care,Information Technology,Financials,Health Care
2000-01-03 00:00:00,"44,00126647949219",nan,nan,"0,8506433367729187",nan,"2,9888980388641357","9,22102165222168","1,2777780294418335",nan,"16,27467155456543",...,nan,"7,29434871673584","18,984556198120117","6,77206563949585",nan,"4,770267009735107",nan,"25,02777862548828","37,66061782836914",nan
2000-01-04 00:00:00,"40,64006423950195",nan,nan,"0,7789258360862732",nan,"2,7848360538482666","8,957565307617188","1,2708330154418945",nan,"14,909401893615723",...,nan,"7,462308883666992","18,62091636657715","6,77206563949585",nan,"4,674383163452148",nan,"24,666667938232422","35,83694839477539",nan
2000-01-05 00:00:00,"38,11914825439453",nan,nan,"0,7903236150741577",nan,"3,0009007453918457","8,941100120544434","1,388888955116272",nan,"15,204172134399414",...,nan,"7,750248908996582","19,636062622070312","6,889139652252197",nan,"4,6983537673950195",nan,"25,13888931274414","35,7945442199707",nan
2000-01-06 00:00:00,"36,6677131652832",nan,nan,"0,7219302654266357",nan,"3,2289698123931885","9,253957748413086","1,375",nan,"15,328289031982422",...,nan,"7,678262233734131","20,65118408203125","6,8981451988220215",nan,"4,658401966094971",nan,"23,77777862548828","36,303470611572266",nan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-02-21 00:00:00,"143,4199981689453","15,6899995803833","144,19000244140625","148,47999572753906","152,0","160,83999633789062","103,6500015258789","67,55000305175781","269,1499938964844","346,70001220703125",...,"107,1500015258789","67,19999694824219","111,16999816894531","35,400001525878906","103,27999877929688","130,61000061035156","124,0","307,0","49,79999923706055","169,83999633789062"
2023-02-22 00:00:00,"142,0800018310547","15,5600004196167","143,6199951171875","148,91000366210938","150,6699981689453","160,1300048828125","102,69000244140625","67,94000244140625","269,6300048828125","348,7200012207031",...,"107,66999816894531","66,69000244140625","109,7300033569336","35,13999938964844","103,0199966430664","129,30999755859375","123,62000274658203","304,8699951171875","49,31999969482422","166,42999267578125"
2023-02-23 00:00:00,"143,1999969482422","15,869999885559082","142,00999450683594","149,39999389648438","152,07000732421875","159,5","102,55000305175781","68,37999725341797","271,2300109863281","347,0199890136719",...,"105,83999633789062","66,33000183105469","110,73999786376953","35,220001220703125","103,30999755859375","128,6699981689453","123,16999816894531","301,0","49,36000061035156","169,5"
2023-02-24 00:00:00,"141,1999969482422","15,5600004196167","138,85000610351562","146,7100067138672","152,7100067138672","158,57000732421875","100,45999908447266","69,16999816894531","266,5299987792969","320,5400085449219",...,"105,52999877929688","65,80999755859375","110,75","34,33000183105469","102,4000015258789","126,83000183105469","122,69999694824219","291,9200134277344","50,27000045776367","166,3300018310547"
2023-02-27 00:00:00,"142,25999450683594","15,779999732971191","140,61000061035156","148,11000061035156","154,30999755859375","156,6300048828125","100,25","69,26000213623047","266,42498779296875","321,7300109863281",...,"105,00499725341797","65,38999938964844","110,66999816894531","34,380001068115234","102,29000091552734","126,77999877929688","123,52999877929688","296,0899963378906","50,54999923706055","165,75999450683594"

In [197]:
df_agrupado = sector_close.groupby(level=0, axis=1).sum()
df_agrupado

,2000-01-03 00:00:00,2000-01-04 00:00:00,2000-01-05 00:00:00,2000-01-06 00:00:00,2000-01-07 00:00:00,2000-01-10 00:00:00,2000-01-11 00:00:00,2000-01-12 00:00:00,2000-01-13 00:00:00,2000-01-14 00:00:00,...,2023-02-14 00:00:00,2023-02-15 00:00:00,2023-02-16 00:00:00,2023-02-17 00:00:00,2023-02-21 00:00:00,2023-02-22 00:00:00,2023-02-23 00:00:00,2023-02-24 00:00:00,2023-02-27 00:00:00,GICS Sector
0,"44,00126647949219","40,64006423950195","38,11914825439453","36,6677131652832","39,723358154296875","42,129676818847656","41,55674743652344","40,71644592285156","41,32756042480469","41,785919189453125",...,"153,0399932861328","151,75","148,27999877929688","148,25999450683594","143,4199981689453","142,0800018310547","143,1999969482422","141,1999969482422","142,25999450683594",Health Care
1,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,...,"16,790000915527344","16,799999237060547","16,389999389648438","16,360000610351562","15,6899995803833","15,5600004196167","15,869999885559082","15,5600004196167","15,779999732971191",Industrials
2,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,...,"150,75999450683594","151,2899932861328","150,19000244140625","149,99000549316406","144,19000244140625","143,6199951171875","142,00999450683594","138,85000610351562","140,61000061035156",Consumer Discretionary
3,"0,8506433367729187","0,7789258360862732","0,7903236150741577","0,7219302654266357","0,7561274766921997","0,7428288459777832","0,7048324346542358","0,6625615358352661","0,7352293729782104","0,763251543045044",...,"153,1999969482422","155,3300018310547","153,7100067138672","152,5500030517578","148,47999572753906","148,91000366210938","149,39999389648438","146,7100067138672","148,11000061035156",Information Technology
4,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,...,"152,58999633789062","151,05999755859375","149,52999877929688","151,30999755859375","152,0","150,6699981689453","152,07000732421875","152,7100067138672","154,30999755859375",Health Care
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
498,"4,770267009735107","4,674383163452148","4,6983537673950195","4,658401966094971","4,554525375366211","4,738303184509277","4,706344127655029","4,658401966094971","4,7303147315979","4,6024675369262695",...,"130,2305450439453","131,0666961669922","131,11647033691406","131,43499755859375","130,61000061035156","129,30999755859375","128,6699981689453","126,83000183105469","126,77999877929688",Consumer Discretionary
499,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,...,"126,70999908447266","126,51000213623047","125,11000061035156","125,97000122070312","124,0","123,62000274658203","123,16999816894531","122,69999694824219","123,52999877929688",Health Care
500,"25,02777862548828","24,666667938232422","25,13888931274414","23,77777862548828","23,51388931274414","24,30555534362793","24,47222137451172","23,86111068725586","23,94444465637207","26,63888931274414",...,"318,760009765625","327,0199890136719","333,44000244140625","322,5799865722656","307,0","304,8699951171875","301,0","291,9200134277344","296,0899963378906",Information Technology
501,"37,66061782836914","35,83694839477539","35,7945442199707","36,303470611572266","36,388282775878906","35,73093032836914","33,84365463256836","34,140533447265625","37,109283447265625","37,74542999267578",...,"52,31999969482422","52,18000030517578","51,38999938964844","51,43000030517578","49,79999923706055","49,31999969482422","49,36000061035156","50,27000045776367","50,54999923706055",Financials
502,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,...,"171,89999389648438","175,02000427246094","173,92999267578125","172,02999877929688","169,83999633789062","166,42999267578125","169,5","166,3300018310547","165,75999450683594",Health Care

In [179]:
sector_close.to_csv('stocksectort.csv',sep=';')

In [158]:
snpbytick_pricesdos=snpbytick_prices.reset_index()
snpbytick_pricesdos

Date,level_0,index,2000-01-03 00:00:00,2000-01-04 00:00:00,2000-01-05 00:00:00,2000-01-06 00:00:00,2000-01-07 00:00:00,2000-01-10 00:00:00,2000-01-11 00:00:00,2000-01-12 00:00:00,...,2023-02-10 00:00:00,2023-02-13 00:00:00,2023-02-14 00:00:00,2023-02-15 00:00:00,2023-02-16 00:00:00,2023-02-17 00:00:00,2023-02-21 00:00:00,2023-02-22 00:00:00,2023-02-23 00:00:00,2023-02-24 00:00:00
0,0,A,"44,00126266479492","40,64005661010742","38,119144439697266","36,66771697998047","39,72335433959961","42,12968826293945","41,55673599243164","40,7164421081543",...,"152,5500030517578","154,60000610351562","153,0399932861328","151,75","148,27999877929688","148,25999450683594","143,4199981689453","142,0800018310547","143,1999969482422","141,1999969482422"
1,1,AAL,nan,nan,nan,nan,nan,nan,nan,nan,...,"16,280000686645508","16,510000228881836","16,790000915527344","16,799999237060547","16,389999389648438","16,360000610351562","15,6899995803833","15,5600004196167","15,869999885559082","15,5600004196167"
2,2,AAP,nan,nan,nan,nan,nan,nan,nan,nan,...,"151,8000030517578","152,19000244140625","150,75999450683594","151,2899932861328","150,19000244140625","149,99000549316406","144,19000244140625","143,6199951171875","142,00999450683594","138,85000610351562"
3,3,AAPL,"0,8506432175636292","0,7789257168769836","0,7903238534927368","0,7219305038452148","0,7561273574829102","0,7428289651870728","0,7048323750495911","0,6625615358352661",...,"151,00999450683594","153,85000610351562","153,1999969482422","155,3300018310547","153,7100067138672","152,5500030517578","148,47999572753906","148,91000366210938","149,39999389648438","146,7100067138672"
4,4,ABBV,nan,nan,nan,nan,nan,nan,nan,nan,...,"152,0500030517578","153,72999572753906","152,58999633789062","151,05999755859375","149,52999877929688","151,30999755859375","152,0","150,6699981689453","152,07000732421875","152,7100067138672"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
498,498,YUM,"4,770267486572266","4,674381732940674","4,6983537673950195","4,658403396606445","4,554525852203369","4,738305568695068","4,706342697143555","4,658403396606445",...,"130,70834350585938","131,91281127929688","130,2305450439453","131,0666961669922","131,11647033691406","131,43499755859375","130,61000061035156","129,30999755859375","128,6699981689453","126,83000183105469"
499,499,ZBH,nan,nan,nan,nan,nan,nan,nan,nan,...,"127,91000366210938","128,0500030517578","126,70999908447266","126,51000213623047","125,11000061035156","125,97000122070312","124,0","123,62000274658203","123,16999816894531","122,69999694824219"
500,500,ZBRA,"25,02777862548828","24,666667938232422","25,13888931274414","23,77777862548828","23,51388931274414","24,30555534362793","24,47222137451172","23,86111068725586",...,"313,4599914550781","318,95001220703125","318,760009765625","327,0199890136719","333,44000244140625","322,5799865722656","307,0","304,8699951171875","301,0","291,9200134277344"
501,501,ZION,"37,66060256958008","35,83694839477539","35,79454040527344","36,30348205566406","36,38829803466797","35,73093032836914","33,843650817871094","34,140525817871094",...,"52,101707458496094","52,488677978515625","52,31999969482422","52,18000030517578","51,38999938964844","51,43000030517578","49,79999923706055","49,31999969482422","49,36000061035156","50,27000045776367"
502,502,ZTS,nan,nan,nan,nan,nan,nan,nan,nan,...,"158,3300018310547","163,13999938964844","171,89999389648438","175,02000427246094","173,92999267578125","172,02999877929688","169,83999633789062","166,42999267578125","169,5","166,3300018310547"

In [156]:
snpbytick_prices.to_csv('stockspy.csv',sep=';')

In [1]:
tech='MSFT','AAPL','GOOGL','AMZN'

In [16]:
epstech= YahooFinancials(tech)

In [19]:
dftechs = pd.DataFrame.from_dict(epstechs, orient='index', columns=['Valor'])
dftechs

       Valor
MSFT    8.80
AAPL    5.78
GOOGL   4.47
AMZN     NaN

In [37]:
epstechdt=YahooFinancials(tech)

In [112]:
snp_prices = yf.download(tech, start="2000-01-01", end="2023-04-30")['Adj Close']

[*********************100%***********************]  4 of 4 completed

In [115]:
snp_prices.head()

                AAPL      AMZN  GOOGL       MSFT
Date
2000-01-03  0.850643  4.468750    NaN  36.361588
2000-01-04  0.778926  4.096875    NaN  35.133270
2000-01-05  0.790324  3.487500    NaN  35.503708
2000-01-06  0.721931  3.278125    NaN  34.314415
2000-01-07  0.756128  3.478125    NaN  34.762817

In [127]:
snp_p = snp_prices.applymap(lambda x: str(x).replace('.', ','))
print(snp_p)

                          AAPL                AMZN              GOOGL  \
Date
2000-01-03  0,8506433367729187             4,46875                nan
2000-01-04  0,7789256572723389   4,096875190734863                nan
2000-01-05  0,7903238534927368   3,487499952316284                nan
2000-01-06  0,7219305634498596   3,278125047683716                nan
2000-01-07  0,7561275959014893  3,4781250953674316                nan
...                        ...                 ...                ...
2023-02-17   152,5500030517578   97,19999694824219   94,3499984741211
2023-02-21  148,47999572753906   94,58000183105469  91,79000091552734
2023-02-22  148,91000366210938   95,79000091552734   91,6500015258789
2023-02-23  149,39999389648438   95,81999969482422  90,88999938964844
2023-02-24   146,7100067138672                93,5  89,12999725341797

                          MSFT
Date
2000-01-03   36,36158752441406
2000-01-04  35,133270263671875
2000-01-05   35,50370788574219
2000-01-06  34,314414978027344
2000-01-07    34,7628173828125
...                        ...
2023-02-17  258,05999755859375
2023-02-21   252,6699981689453
2023-02-22  251,50999450683594
2023-02-23  254,77000427246094
2023-02-24  249,22000122070312

[5824 rows x 4 columns]

In [128]:
snp_p

,AAPL,AMZN,GOOGL,MSFT
Date,,,,
2000-01-03,"0,8506433367729187","4,46875",nan,"36,36158752441406"
2000-01-04,"0,7789256572723389","4,096875190734863",nan,"35,133270263671875"
2000-01-05,"0,7903238534927368","3,487499952316284",nan,"35,50370788574219"
2000-01-06,"0,7219305634498596","3,278125047683716",nan,"34,314414978027344"
2000-01-07,"0,7561275959014893","3,4781250953674316",nan,"34,7628173828125"
...,...,...,...,...
2023-02-17,"152,5500030517578","97,19999694824219","94,3499984741211","258,05999755859375"
2023-02-21,"148,47999572753906","94,58000183105469","91,79000091552734","252,6699981689453"
2023-02-22,"148,91000366210938","95,79000091552734","91,6500015258789","251,50999450683594"
2023-02-23,"149,39999389648438","95,81999969482422","90,88999938964844","254,77000427246094"
2023-02-24,"146,7100067138672","93,5","89,12999725341797","249,22000122070312"

In [139]:
snp_prices = snp_prices.fillna(method='ffill')
print(snp_p)

                          AAPL                AMZN              GOOGL  \
Date
2000-01-03  0,8506433367729187             4,46875                nan
2000-01-04  0,7789256572723389   4,096875190734863                nan
2000-01-05  0,7903238534927368   3,487499952316284                nan
2000-01-06  0,7219305634498596   3,278125047683716                nan
2000-01-07  0,7561275959014893  3,4781250953674316                nan
...                        ...                 ...                ...
2023-02-17   152,5500030517578   97,19999694824219   94,3499984741211
2023-02-21  148,47999572753906   94,58000183105469  91,79000091552734
2023-02-22  148,91000366210938   95,79000091552734   91,6500015258789
2023-02-23  149,39999389648438   95,81999969482422  90,88999938964844
2023-02-24   146,7100067138672                93,5  89,12999725341797

                          MSFT
Date
2000-01-03   36,36158752441406
2000-01-04  35,133270263671875
2000-01-05   35,50370788574219
2000-01-06  34,314414978027344
2000-01-07    34,7628173828125
...                        ...
2023-02-17  258,05999755859375
2023-02-21   252,6699981689453
2023-02-22  251,50999450683594
2023-02-23  254,77000427246094
2023-02-24  249,22000122070312

[5824 rows x 4 columns]

In [140]:
snp_p

,AAPL,AMZN,GOOGL,MSFT
Date,,,,
2000-01-03,"0,8506433367729187","4,46875",nan,"36,36158752441406"
2000-01-04,"0,7789256572723389","4,096875190734863",nan,"35,133270263671875"
2000-01-05,"0,7903238534927368","3,487499952316284",nan,"35,50370788574219"
2000-01-06,"0,7219305634498596","3,278125047683716",nan,"34,314414978027344"
2000-01-07,"0,7561275959014893","3,4781250953674316",nan,"34,7628173828125"
...,...,...,...,...
2023-02-17,"152,5500030517578","97,19999694824219","94,3499984741211","258,05999755859375"
2023-02-21,"148,47999572753906","94,58000183105469","91,79000091552734","252,6699981689453"
2023-02-22,"148,91000366210938","95,79000091552734","91,6500015258789","251,50999450683594"
2023-02-23,"149,39999389648438","95,81999969482422","90,88999938964844","254,77000427246094"
2023-02-24,"146,7100067138672","93,5","89,12999725341797","249,22000122070312"

In [141]:
snp_p.to_csv('tech_price.csv',sep=';')

In [32]:
dataspy = yf.download("SPY", start="2000-01-01", end="2023-12-31")

[*********************100%***********************]  1 of 1 completed

In [33]:
dataspy

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2000-01-03,148.250000,148.250000,143.875000,145.437500,95.308807,8164300
2000-01-04,143.531250,144.062500,139.640625,139.750000,91.581627,8089800
2000-01-05,139.937500,141.531250,137.250000,140.000000,91.745483,12177900
2000-01-06,139.625000,141.500000,137.750000,137.750000,90.271042,6227200
2000-01-07,140.312500,145.750000,140.062500,145.750000,95.513626,8066500
...,...,...,...,...,...,...
2023-02-17,406.059998,407.510010,404.049988,407.260010,407.260010,89169100
2023-02-21,403.059998,404.160004,398.820007,399.089996,399.089996,82655900
2023-02-22,399.519989,401.130005,397.019989,398.540009,398.540009,83742300
2023-02-23,401.559998,402.200012,396.250000,400.660004,400.660004,96242400
2023-02-24,395.420013,397.250000,393.640015,396.380005,396.380005,108145900

In [132]:
dataspy=dataspy.applymap(lambda x: str(x).replace('.', ','))

In [134]:
dataspy.to_csv('stock_price.csv', sep=';')

In [18]:
datatech1 = yf.download('AAPL', start="2000-01-01", end="2023-12-31")
datatech1

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2000-01-03,0.936384,1.004464,0.907924,0.999442,0.850643,535796800
2000-01-04,0.966518,0.987723,0.903460,0.915179,0.778926,512377600
2000-01-05,0.926339,0.987165,0.919643,0.928571,0.790324,778321600
2000-01-06,0.947545,0.955357,0.848214,0.848214,0.721931,767972800
2000-01-07,0.861607,0.901786,0.852679,0.888393,0.756127,460734400
...,...,...,...,...,...,...
2023-02-22,148.869995,149.949997,147.160004,148.910004,148.910004,51011300
2023-02-23,150.089996,150.339996,147.240005,149.399994,149.399994,48394200
2023-02-24,147.110001,147.190002,145.720001,146.710007,146.710007,55418200
2023-02-27,147.710007,149.169998,147.449997,147.919998,147.919998,44998500
2023-02-28,147.050003,149.080002,146.830002,147.410004,147.410004,50455400

In [19]:
datatech1=datatech1.applymap(lambda x: str(x).replace('.', ','))

In [20]:
datatech1.to_csv('stocks_apple.csv', sep=';')

In [8]:
datatech2 = yf.download('AMZN', start="2000-01-01", end="2023-12-31")
datatech2

[*********************100%***********************]  1 of 1 completed

                 Open       High        Low      Close  Adj Close     Volume
Date
2000-01-03   4.075000   4.478125   3.952344   4.468750   4.468750  322352000
2000-01-04   4.268750   4.575000   4.087500   4.096875   4.096875  349748000
2000-01-05   3.525000   3.756250   3.400000   3.487500   3.487500  769148000
2000-01-06   3.565625   3.634375   3.200000   3.278125   3.278125  375040000
2000-01-07   3.350000   3.525000   3.309375   3.478125   3.478125  210108000
...               ...        ...        ...        ...        ...        ...
2023-02-22  95.099998  97.010002  94.800003  95.790001  95.790001   59534100
2023-02-23  96.120003  96.430000  93.669998  95.820000  95.820000   48467000
2023-02-24  93.529999  94.139999  92.320000  93.500000  93.500000   57010100
2023-02-27  94.279999  94.779999  93.139999  93.760002  93.760002   47470300
2023-02-28  93.139999  94.690002  92.919998  94.230003  94.230003   43901300

[5826 rows x 6 columns]

In [9]:
datatech2=datatech2.applymap(lambda x: str(x).replace('.', ','))

In [10]:
datatech2.to_csv('stocks_aws.csv', sep=';')

In [11]:
datatech3 = yf.download('MSFT', start="2000-01-01", end="2023-12-31")
datatech3

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2000-01-03,58.687500,59.312500,56.000000,58.281250,36.361568,53228400
2000-01-04,56.781250,58.562500,56.125000,56.312500,35.133274,54119000
2000-01-05,55.562500,58.187500,54.687500,56.906250,35.503719,64059600
2000-01-06,56.093750,56.937500,54.187500,55.000000,34.314400,54976600
2000-01-07,54.312500,56.125000,53.656250,55.718750,34.762833,62013600
...,...,...,...,...,...,...
2023-02-22,254.089996,254.339996,250.339996,251.509995,251.509995,22491100
2023-02-23,255.559998,256.839996,250.479996,254.770004,254.770004,29219100
2023-02-24,249.960007,251.000000,248.100006,249.220001,249.220001,24978700
2023-02-27,252.460007,252.820007,249.389999,250.160004,250.160004,21190000
2023-02-28,249.070007,251.490005,248.729996,249.419998,249.419998,22467600

In [12]:
datatech3=datatech3.applymap(lambda x: str(x).replace('.', ','))

In [13]:
datatech3.to_csv('stocks_msft.csv', sep=';')

In [14]:
datatech4 = yf.download('GOOGL', start="2000-01-01", end="2023-12-31")
datatech4

[*********************100%***********************]  1 of 1 completed

                 Open       High        Low      Close  Adj Close     Volume
Date
2004-08-19   2.502503   2.604104   2.401401   2.511011   2.511011  893181924
2004-08-20   2.527778   2.729730   2.515015   2.710460   2.710460  456686856
2004-08-23   2.771522   2.839840   2.728979   2.737738   2.737738  365122512
2004-08-24   2.783784   2.792793   2.591842   2.624374   2.624374  304946748
2004-08-25   2.626627   2.702703   2.599600   2.652653   2.652653  183772044
...               ...        ...        ...        ...        ...        ...
2023-02-22  91.699997  92.110001  90.610001  91.650002  91.650002   30884000
2023-02-23  91.919998  91.940002  89.760002  90.889999  90.889999   41206400
2023-02-24  89.440002  89.889999  88.580002  89.129997  89.129997   36554600
2023-02-27  89.870003  90.160004  89.339996  89.870003  89.870003   27502300
2023-02-28  89.330002  91.230003  89.320000  90.059998  90.059998   30081100

[4664 rows x 6 columns]

In [15]:
datatech4=datatech4.applymap(lambda x: str(x).replace('.', ','))

In [16]:
datatech4.to_csv('stocks_googl.csv', sep=';')

In [21]:
datasample = yf.download('MSFT', start="2022-01-01", end="2022-12-31")
datasample

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2022-01-03,335.350006,338.000000,329.779999,334.750000,330.813873,28865100
2022-01-04,334.829987,335.200012,326.119995,329.010010,325.141357,32674300
2022-01-05,325.859985,326.070007,315.980011,316.380005,312.659882,40054300
2022-01-06,313.149994,318.700012,311.489990,313.880005,310.189240,39646100
2022-01-07,314.149994,316.500000,310.089996,314.040009,310.347412,32720000
...,...,...,...,...,...,...
2022-12-23,236.110001,238.869995,233.940002,238.729996,238.133545,21207000
2022-12-27,238.699997,238.929993,235.830002,236.960007,236.367981,16688600
2022-12-28,236.889999,239.720001,234.169998,234.529999,233.944031,17457100
2022-12-29,235.649994,241.919998,235.649994,241.009995,240.407837,19770700
2022-12-30,238.210007,239.960007,236.660004,239.820007,239.220825,21930800

In [22]:
datasample=datasample.applymap(lambda x: str(x).replace('.', ','))

In [ ]:
datasample.to_csv('sample_msft.csv', sep=';')